<img src="../Img/Python_SQL_PI.png" style="width:100%">


<p style="font-size:160%;text-align:center">Семинар 6.1. Соединение таблиц с помощью оператора LEFT OUTER JOIN</p> 

<a id = Home></a>

**21 апреля 2022 года, чт**<br>
5-я пара, 15:40 - 17:10<br>
В4/3411(кк) (4-й Вешняковский проезд, 4)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (2 подгруппа)<br>


**25 апреля 2022 года, пн**<br>
2-я пара, 10:10 - 11:40<br>
Щ38/509(кк) (ул. Щербаковская, 38)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (4 подгруппа)<br>

3-я пара, 11:50 - 13:20<br>
Щ38/509(кк) (ул. Щербаковская, 38)<br>
Поток:ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (3 подгруппа)


**28 апреля 2022 года, чт**<br>
6-я пара, 17:20 - 18:50<br>
В4/3411(кк) (4-й Вешняковский проезд, 4)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (1 подгруппа)<br>


```
STUDENT
STUDENT_ID — числовой код, идентифицирующий студента (идентификатор студента),
SURNAME — фамилия студента,
NAME — имя студента,
STIPEND — стипендия, которую получает студент,
KURS — курс, на котором учится студент,
CITY — город, в котором живет студент,
BIRTHDAY — дата рождения студента,
UNIV_ID — идентификатор университета, в котором учится студент.


LECTURER
LECTURER_ID — идентификатор преподавателя,
SURNAME — фамилия преподавателя,
NAME — имя преподавателя,
CITY — город, в котором живет преподаватель,
UNIV_ID — идентификатор университета, в котором работает преподаватель


SUBJECT
SUBJ_ID — идентификатор предмета обучения,
SUBJ_NAME — наименование предмета обучения,
HOUR — количество часов, отводимых на изучение предмета,
SEMESTER — семестр, в котором изучается данный предмет.


UNIVERSITY
UNIV_ID — идентификатор университета,
UNIV_NAME — название университета,
RATING — рейтинг университета,
CITY — город, в котором расположен университет.


EXAM_MARKS
EXAM_ID — идентификатор экзамена,
STUDENT_ID — идентификатор студента,
SUBJ_ID — идентификатор предмета обучения,
MARK — экзаменационная оценка,
EXAM_DATE — дата экзамена.


SUBJ_LECT
LECTURER_ID — идентификатор преподавателя,
SUBJ_ID — идентификатор предмета обучения.
```

<img src="../Img/Students_Schema.png" style="width:60%">

In [2]:
#! pip install sqlalchemy

In [3]:
from sqlalchemy import MetaData, Table, create_engine, select, and_, or_, not_, text
from sqlalchemy.sql import func, distinct, exists

In [4]:
engine = create_engine('sqlite:///../Data/Students.db')
metadata_obj = MetaData() # Объект-контейнер, содержит информацию о схеме данных
metadata_obj.reflect(bind=engine) # Отображение БД

Создание объектов таблиц

In [5]:
exam_marks=Table("exam_marks", metadata_obj, autoload=True, autoload_with="engine")
lecturer=Table("lecturer", metadata_obj, autoload=True, autoload_with="engine")
student=Table("student", metadata_obj, autoload=True, autoload_with="engine")
subj_lect=Table("subj_lect", metadata_obj, autoload=True, autoload_with="engine")
subject=Table("subject", metadata_obj, autoload=True, autoload_with="engine")
university=Table("university", metadata_obj, autolad=True, autolad_with="engine")

In [6]:
conn=engine.connect() # Соединение

<img src=../Img/pencil.png style="width:190px;height:190px">
<p style="background-color:powderblue; font-size:125%; color: rebeccapurple;">Выполните задания</p>
<p>Выполните задания с помощью соедиинения таблиц в Jupyter Notebook </p>

1. Напишите запрос, который выполняет вывод фамилий студентов, сдавших экзамены, вместе с идентификаторами сданных ими предметов обучения. Отсортируйте результат по фамилии студента.

2. Напишите запрос, который выполняет выборку фамилий всех студентов, с указанием для студентов, сдававших экзамены, идентификаторов предметов обучения. Отсортируйте результат по фамилии студента.

3. Напишите запрос, который выполняет вывод фамилий студентов, сдавших экзамены, вместе с наименованиями каждого сданного ими предмета обучения. Отсортируйте результат по фамилии студента.

4. Напишите запрос на выдачу списка всех студентов. Для студентов, сдававших экзамены, укажите названия соответствующих предметов обучения. Отсортируйте результат по фамилии студента.

5. Напишите запрос на выдачу названий всех предметов, по которым студенты получили только хорошие (4 и 5) оценки. В выходных данных должны быть приведены фамилии студентов, названия предметов и оценка. Отсортируйте результат по фамилии студента.

6. Напишите запрос, который выполняет вывод списка университетов с рейтингом, превышающим 300, вместе со значением максимального размера стипендии, получаемой студентами в этих университетах. Результат должен содержать название университета, значение рейтинга, значение макисмальной стипендии. Отсортируйте по значению максимальной стипендии.

7. Напишите запрос на выдачу списка студентов (в алфавитном порядке фамилий) вместе со значением рейтинга университета, где каждый из них учится, включив в список и тех студентов, место учебы которых в базе данных не указано.

8. Напишите запрос для получения списка всех университетов вместе с фамилиями студентов, в них обучающихся. Отдельным запросом получите записи, расширяющие данный список по сравнению с тем, который был бы получен внутренним соединением. Выполните такой отдельный запрос двумя способами: с помощью оператора EXISTS() и без.

9. Напишите запрос для получения списка всех студентов вместе с названиями университетов, в которых они учатся. Отдельным запросом получите записи, расширяющие данный список по сравнению с тем, который был бы получен внутренним соединением.

10. Напишите запрос для получения списка всех университетов вместе с фамилиями преподавателей, в них работающих. Отдельным запросом получите записи, расширяющие данный список по сравнению с тем, который был бы получен внутренним соединением.

11. Напишите запрос для получения списка всех преподавателей вместе с университетами, в которых они работают. Есть ли отличие списка от того, который был бы получен внутренним соединением? Подтвердите отдельным запросом ваш вывод.

12. Напишите запрос для получения списка всех студентов и оценок, полученных ими на экзаменах. Отдельным запросом получите записи, расширяющие данный список по сравнению с тем, который был бы получен внутренним соединением.

13. Напишите запрос для получения списка всех экзаменационных оценок вместе с фамилиями получивших их студентов. Есть ли отличие списка от того, который был бы получен внутренним соединением? Подтвердите отдельным запросом ваш вывод.

14. Напишите запрос для получения полного списка предметов с соответствующими экзаменационными оценками. Есть ли отличие списка от того, который был бы получен внутренним соединением? Подтвердите отдельным запросом ваш вывод.

15. Напишите запрос для получения полного списка оценок вместе с названиями предметов, по которым они получены. Есть ли отличие списка от того, который был бы получен внутренним соединением? Подтвердите отдельным запросом ваш вывод.

# Решение

In [7]:
st = student.alias('st')
em = exam_marks.alias('em')
u = university.alias('u')
l = lecturer.alias('l')
sl = subj_lect.alias('sl')
su = subject.alias('su')

In [9]:
""" 1.Напишите запрос, который выполняет вывод фамилий студентов, 
сдавших экзамены, вместе с идентификаторами сданных ими предметов обучения. 
Отсортируйте результат по фамилии студента."""

s = select(st.c.surname, em.c.exam_id)
s = s.join_from(st, em)
s = s.where(em.c.mark>2)
s = s.order_by(st.c.surname)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT st.surname, em.exam_id
FROM student AS st JOIN exam_marks AS em ON st.student_id = em.student_id
WHERE em.mark > :mark_1 ORDER BY st.surname
26

[('Антонов', 22),
 ('Белкин', 75),
 ('Блохина', 9),
 ('Борисова', 17),
 ('Васильев', 19),
 ('Васильев', 27),
 ('Жданова', 12),
 ('Жук', 3),
 ('Зайцева', 238),
 ('Казакова', 2)]

In [11]:
"""
2. Напишите запрос, который выполняет выборку фамилий всех студентов, 
с указанием для студентов, сдававших экзамены, идентификаторов предметов обучения. 
Отсортируйте результат по фамилии студента.
"""

s = select(st.c.surname, em.c.exam_id)
s = s.join_from(st, em, isouter=True)
s = s.order_by(st.c.surname)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT st.surname, em.exam_id
FROM student AS st LEFT OUTER JOIN exam_marks AS em ON st.student_id = em.student_id ORDER BY st.surname
100

[('Агафонов', None),
 ('Аксенов', None),
 ('Антонов', 22),
 ('Архипов', None),
 ('Афанасьева', 7),
 ('Баранов', None),
 ('Белкин', 75),
 ('Белкин', 639),
 ('Бирюков', None),
 ('Бирюков', None)]

In [13]:
"""
3. Напишите запрос, который выполняет вывод фамилий студентов, 
сдавших экзамены, вместе с наименованиями каждого сданного ими предмета обучения. Отсортируйте результат по фамилии студента.
"""
s = select(st.c.surname, su.c.subj_name)
s = s.join_from(st, em).join(su)
s = s.where(em.c.mark>2)
s = s.order_by(st.c.surname)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT st.surname, su.subj_name
FROM student AS st JOIN exam_marks AS em ON st.student_id = em.student_id JOIN subject AS su ON su.subj_id = em.subj_id
WHERE em.mark > :mark_1 ORDER BY st.surname
26

[('Антонов', 'Информатика'),
 ('Белкин', 'Информатика'),
 ('Блохина', 'Физика'),
 ('Борисова', 'Английский язык'),
 ('Васильев', 'Физкультура'),
 ('Васильев', 'ОБЖ'),
 ('Жданова', 'История'),
 ('Жук', 'Физкультура'),
 ('Зайцева', 'Информатика'),
 ('Казакова', 'Физкультура')]

In [15]:
"""
4. Напишите запрос на выдачу списка всех студентов.
Для студентов, сдававших экзамены, укажите названия
соответствующих предметов обучения. Отсортируйте результат по фамилии студента
"""

s = select(st.c.surname, su.c.subj_name)
s = s.join_from(st, em, isouter=True).join(su, isouter=True)
s = s.order_by(st.c.surname)
print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT st.surname, su.subj_name
FROM student AS st LEFT OUTER JOIN exam_marks AS em ON st.student_id = em.student_id LEFT OUTER JOIN subject AS su ON su.subj_id = em.subj_id ORDER BY st.surname
100

[('Агафонов', None),
 ('Аксенов', None),
 ('Антонов', 'Информатика'),
 ('Архипов', None),
 ('Афанасьева', 'Анализ данных'),
 ('Баранов', None),
 ('Белкин', 'Информатика'),
 ('Белкин', 'Информатика'),
 ('Бирюков', None),
 ('Бирюков', None)]

In [17]:
"""
5. Напишите запрос на выдачу названий всех предметов, по которым студенты получили 
только хорошие (4 и 5) оценки. В выходных данных должны быть приведены фамилии студентов, 
названия предметов и оценка. Отсортируйте результат по фамилии студента.
"""

s = select(st.c.surname, su.c.subj_name, em.c.mark)
s = s.select_from(st).join(em).join(su)
s = s.where(em.c.mark.in_([4, 5]))
s = s.order_by(st.c.surname)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT st.surname, su.subj_name, em.mark
FROM student AS st JOIN exam_marks AS em ON st.student_id = em.student_id JOIN subject AS su ON su.subj_id = em.subj_id
WHERE em.mark IN ([POSTCOMPILE_mark_1]) ORDER BY st.surname
20

[('Белкин', 'Информатика', 5),
 ('Блохина', 'Физика', 5),
 ('Борисова', 'Английский язык', 5),
 ('Васильев', 'ОБЖ', 5),
 ('Жданова', 'История', 5),
 ('Жук', 'Физкультура', 4),
 ('Зайцева', 'Информатика', 5),
 ('Казакова', 'Физкультура', 4),
 ('Костина', 'Физика', 4),
 ('Котов', 'Информатика', 4)]

In [21]:
"""
6. Напишите запрос, который выполняет вывод списка университетов с рейтингом, 
превышающим 300, вместе со значением максимального размера стипендии, 
получаемой студентами в этих университетах. Результат должен содержать 
название университета, значение рейтинга, значение макисмальной стипендии. 
Отсортируйте по значению максимальной стипендии.
"""

s = select(university.c.univ_name, university.c.rating, func.max(student.c.stipend))

s = s.join(student)
s = s.group_by(university.c.univ_name)
s = s.where(and_(university.c.rating > 300,student.c.stipend != "None"))
s = s.order_by(func.max(student.c.stipend))

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result

SELECT university.univ_name, university.rating, max(student.stipend) AS max_1
FROM university JOIN student ON university.univ_id = student.univ_id
WHERE university.rating > :rating_1 AND student.stipend != :stipend_1 GROUP BY university.univ_name ORDER BY max(student.stipend)
9

[('ВГМА', 327, 200),
 ('МГТУ им. Баумана', 372, 200),
 ('ФГБОУ "Политех"', 304, 200),
 ('БГУ', 326, 250),
 ('МГУ', 606, 250),
 ('НГУ', 345, 250),
 ('РГУ', 416, 250),
 ('ТГУ', 368, 250),
 ('ФинУ', 330, 250)]

In [23]:
"""
7.Напишите запрос на выдачу списка студентов (в алфавитном порядке фамилий) 
вместе со значением рейтинга университета, где каждый из них учится, 
включив в список и тех студентов, место учебы которых в базе данных не указано.
"""

s = select(student.c.surname, student.c.name, university.c.univ_name, university.c.rating)

s = s.select_from(student)
s = s.join(university, isouter = True)
s = s.order_by(student.c.surname)


print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT student.surname, student.name, university.univ_name, university.rating
FROM student LEFT OUTER JOIN university ON university.univ_id = student.univ_id ORDER BY student.surname
90

[('Агафонов', 'Василий', 'ВГУ', 296),
 ('Аксенов', 'Валерий', 'ВГУ', 296),
 ('Антонов', 'Анатолий', 'МГУ', 606),
 ('Архипов', 'Андрей', 'МГУ', 606),
 ('Афанасьева', 'Анжелика', 'РГУ', 416),
 ('Баранов', 'Александр', 'ФинУ', 330),
 ('Белкин', 'Вадим', 'ВГУ', 296),
 ('Бирюков', 'Герасим', 'ФинУ', 330),
 ('Бирюков', 'Мартин', 'КФУ', None),
 ('Блохина', 'Ираида', 'МГУ', 606)]

In [28]:
"""
8. Напишите запрос для получения списка всех университетов вместе с фамилиями студентов, 
в них обучающихся. Отдельным запросом получите записи, расширяющие данный список 
по сравнению с тем, который был бы получен внутренним соединением. 
Выполните такой отдельный запрос двумя способами: с помощью оператора EXISTS() и без.
"""

s = select(u.c.univ_name, st.c.surname)
s = s.outerjoin_from(u, st)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT u.univ_name, st.surname
FROM university AS u LEFT OUTER JOIN student AS st ON u.univ_id = st.univ_id
91

[('ВГУ', 'Агафонов'),
 ('ВГУ', 'Аксенов'),
 ('ВГУ', 'Белкин'),
 ('ВГУ', 'Борисова'),
 ('ВГУ', 'Жданова'),
 ('ВГУ', 'Зайцева'),
 ('ВГУ', 'Иванов'),
 ('ВГУ', 'Кузнецов'),
 ('ВГУ', 'Лукин'),
 ('ВГУ', 'Мельникова')]

In [30]:
"""
8 a
"""
u2 = university.alias('u2')
st2 = student.alias('st2')

subq = select(u2.c.univ_name, st2.c.surname)
subq = subq.join_from(u2, st2)
subq = subq.where(u2.c.univ_id == u.c.univ_id).exists()

s = select(u.c.univ_name, st.c.surname)
s = s.outerjoin_from(u, st)
s = s.where(~subq)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:]

SELECT u.univ_name, st.surname
FROM university AS u LEFT OUTER JOIN student AS st ON u.univ_id = st.univ_id
WHERE NOT (EXISTS (SELECT u2.univ_name, st2.surname
FROM university AS u2 JOIN student AS st2 ON u2.univ_id = st2.univ_id
WHERE u2.univ_id = u.univ_id))
1

[('МФТИ', None)]

In [31]:
"""
8 b
"""
s = select(u.c.univ_name, st.c.surname)
s = s.outerjoin_from(u, st)
s = s.where(st.c.surname == None)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:]

SELECT u.univ_name, st.surname
FROM university AS u LEFT OUTER JOIN student AS st ON u.univ_id = st.univ_id
WHERE st.surname IS NULL
1

[('МФТИ', None)]

In [33]:
"""
9. Напишите запрос для получения списка всех студентов 
вместе с названиями университетов, в которых они учатся. 
Отдельным запросом получите записи, расширяющие данный список по сравнению с тем, 
который был бы получен внутренним соединением.
"""

s = select(st.c.surname, u.c.univ_name)
s = s.outerjoin_from(st, u)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT st.surname, u.univ_name
FROM student AS st LEFT OUTER JOIN university AS u ON u.univ_id = st.univ_id
90

[('Иванов', 'ВГУ'),
 ('Петров', 'ВГУ'),
 ('Сидоров', 'МГУ'),
 ('Кузнецов', 'ВГУ'),
 ('Зайцева', 'ВГУ'),
 ('Ордуханян', 'ВГМА'),
 ('Котов', 'БГУ'),
 ('Белкин', 'ВГУ'),
 ('Дуб', 'УЛГУ'),
 ('Кудряшова', 'БГУ')]

In [34]:
"""9 a"""

s = select(st.c.surname, u.c.univ_name)
s = s.outerjoin_from(st, u)
s = s.where(u.c.univ_name == None)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT st.surname, u.univ_name
FROM student AS st LEFT OUTER JOIN university AS u ON u.univ_id = st.univ_id
WHERE u.univ_name IS NULL
0

[]

In [35]:
"""
10. Напишите запрос для получения списка всех университетов вместе 
с фамилиями преподавателей, в них работающих. Отдельным запросом получите записи, 
расширяющие данный список по сравнению с тем, который был бы получен внутренним соединением.
"""

s = select(university.c.univ_name, lecturer.c.surname)
s = s.outerjoin_from(university, lecturer)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
print(result)

SELECT university.univ_name, lecturer.surname
FROM university LEFT OUTER JOIN lecturer ON university.univ_id = lecturer.univ_id
32
[('ВГУ', 'Алексеев'), ('ВГУ', 'Зайцева'), ('ВГУ', 'Зыкова'), ('ВГУ', 'Колесников'), ('ВГУ', 'Максимова'), ('ВГУ', 'Николаев'), ('ВГУ', 'Никонов'), ('ВГУ', 'Сорокин'), ('НГУ', 'Мамонтова'), ('МФТИ', None), ('БГУ', None), ('ТГУ', 'Беспалов'), ('ТГУ', 'Тихонов'), ('ВГМА', 'Артемьева'), ('ВГМА', 'Богданова'), ('ВГМА', 'Крюкова'), ('ВГМА', 'Сафонов'), ('ВГМА', 'Ситникова'), ('МГУ', 'Лагутин'), ('МГУ', 'Струков'), ('РГУ', 'Беляков'), ('РГУ', 'Дорофеев'), ('ФинУ', None), ('МГТУ им. Баумана', 'Волков'), ('ФГБОУ "Политех"', 'Зимин'), ('ФГБОУ "Политех"', 'Сафонова'), ('ФГБОУ "Политех"', 'Стрелков'), ('КФУ', 'Кудрявцева'), ('КФУ', 'Куликова'), ('УЛГУ', 'Брагина'), ('УЛГУ', 'Дмитриева'), ('УЛГУ', 'Елисеев')]

In [36]:
"""
10 a
"""
s2 = select(university.c.univ_name, lecturer.c.surname)
s2 = s2.outerjoin_from(university, lecturer)
s2 = s2.where(lecturer.c.surname == None)

print(s2)
result2 = conn.execute(s2).fetchall()
print(len(result2))
print(result2)

SELECT university.univ_name, lecturer.surname
FROM university LEFT OUTER JOIN lecturer ON university.univ_id = lecturer.univ_id
WHERE lecturer.surname IS NULL
3
[('МФТИ', None), ('БГУ', None), ('ФинУ', None)]