<img src="../Img/Python_SQL_PI.png" style="width:100%">


<p style="font-size:22px;text-align:center">Семинар 4.1. Подзапросы</p> 

<a id = Home></a>

17 марта 2022 года, пн<br>
Поток: ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (2 подгруппа)<br>


21 марта 2022 года, чт<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (3 подгруппа)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (4 подгруппа)<br>

31 марта 2022 года, чт<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (1 подгруппа)


```
STUDENT
STUDENT_ID — числовой код, идентифицирующий студента (идентификатор студента),
SURNAME — фамилия студента,
NAME — имя студента,
STIPEND — стипендия, которую получает студент,
KURS — курс, на котором учится студент,
CITY — город, в котором живет студент,
BIRTHDAY — дата рождения студента,
UNIV_ID — идентификатор университета, в котором учится студент.


LECTURER
LECTURER_ID — идентификатор преподавателя,
SURNAME — фамилия преподавателя,
NAME — имя преподавателя,
CITY — город, в котором живет преподаватель,
UNIV_ID — идентификатор университета, в котором работает преподаватель


SUBJECT
SUBJ_ID — идентификатор предмета обучения,
SUBJ_NAME — наименование предмета обучения,
HOUR — количество часов, отводимых на изучение предмета,
SEMESTER — семестр, в котором изучается данный предмет.


UNIVERSITY
UNIV_ID — идентификатор университета,
UNIV_NAME — название университета,
RATING — рейтинг университета,
CITY — город, в котором расположен университет.


EXAM_MARKS
EXAM_ID — идентификатор экзамена,
STUDENT_ID — идентификатор студента,
SUBJ_ID — идентификатор предмета обучения,
MARK — экзаменационная оценка,
EXAM_DATE — дата экзамена.


SUBJ_LECT
LECTURER_ID — идентификатор преподавателя,
SUBJ_ID — идентификатор предмета обучения.
```

<img src="../Img/Students_Schema.png" style="width:60%">

<img src=../Img/pencil.png style="width:190px;height:190px">
<p style="background-color:powderblue; font-size:125%; color: rebeccapurple;">Выполните задания</p>
<p>Выполните задания в Jupyter Notebook</p>

1. С помощью подзапроса напишите запрос, выводящий список студентов, получающих максимальную стипендию, отсортировав его в алфавитном порядке по фамилиям.
2. С помощью подзапроса напишите запрос, выводящий список студентов, получающих стипендию, превышающую среднее значение стипендии.
3. С помощью подзапроса напишите запрос, выводящий список студентов, обучающихся в Воронеже, с последующей сортировкой по идентификаторам университетов и курсам.
4. С помощью подзапроса напишите запрос, выводящий список предметов, на изучение которых отведено максимальное количество часов.
5. Напишите запрос, выполняющий вывод имен и фамилий студентов, место проживания которых не совпадает с городом, в котором находится их университет.
6. С помощью подзапроса напишите запрос, выводящий список университетов, расположенных в Москве и имеющих рейтинг больший, чем у ВГУ.
7. С помощью EXISTS напишите запрос, который выполняет выборку имен всех студентов, имеющих по предмету c идентификатором 10 балл ниже общего среднего балла.

In [1]:
#! pip install sqlalchemy

In [2]:
from sqlalchemy import MetaData, Table, create_engine, select, and_, or_, not_
from sqlalchemy.sql import func

In [3]:
engine = create_engine('sqlite:///../Data/Students.db')
metadata_obj = MetaData() # Объект-контейнер, содержит информацию о схеме данных
metadata_obj.reflect(bind=engine) # Отображение БД
# Вызов метода reflect() приводит к включению в объект metadata_obj словаря всех таблиц БД.

Несколько примеров получения информации о БД с помощью методов объекта ***metadata_obj***.

In [4]:
# Таблицы в БД
metadata_obj.tables.keys()

dict_keys(['city', 'exam_marks', 'student', 'university', 'subject', 'lecturer', 'subj_lect'])

In [5]:
# Имя конкретной таблицы
metadata_obj.tables['student'].name

'student'

In [6]:
# Столбцы конкретной таблицы
metadata_obj.tables['student'].columns.keys()

['student_id',
 'surname',
 'name',
 'stipend',
 'kurs',
 'city',
 'birthday',
 'univ_id']

In [7]:
# Информация о столбце
metadata_obj.tables['student'].columns['student_id']

Column('student_id', INTEGER(), table=<student>, primary_key=True, nullable=False)

In [8]:
for t in metadata_obj.sorted_tables:
    print(t.name)

city
subject
university
lecturer
student
exam_marks
subj_lect

In [9]:
for t in metadata_obj.sorted_tables:
    print(t.name)
    for c in t.columns:
        print(c)
    print()

city
city.city_id
city.name

subject
subject.subj_id
subject.subj_name
subject.hour
subject.semester

university
university.univ_id
university.univ_name
university.rating
university.city

lecturer
lecturer.lecturer_id
lecturer.surname
lecturer.name
lecturer.city
lecturer.univ_id

student
student.student_id
student.surname
student.name
student.stipend
student.kurs
student.city
student.birthday
student.univ_id

exam_marks
exam_marks.exam_id
exam_marks.student_id
exam_marks.subj_id
exam_marks.mark
exam_marks.exam_date

subj_lect
subj_lect.lecturer_id
subj_lect.subj_id

Создание объектов таблиц

In [10]:
exam_marks=Table("exam_marks", metadata_obj, autoload=True, autoload_with="engine")
lecturer=Table("lecturer", metadata_obj, autoload=True, autoload_with="engine")
student=Table("student", metadata_obj, autoload=True, autoload_with="engine")
subj_lect=Table("subj_lect", metadata_obj, autoload=True, autoload_with="engine")
subject=Table("subject", metadata_obj, autoload=True, autoload_with="engine")
university=Table("university", metadata_obj, autolad=True, autolad_with="engine")

# Решение

In [11]:
conn=engine.connect() # Соединение

In [1]:
# Ваш код здесь

#1

# Домашнее задание

1. Выполнить отображение БД Chinook

<img src="../Img/chinook_ERD.png" style="width:100%">

2. Выполнить запросы с помощью подзапросов.

2.1. С помощью подзапроса составьте запрос, выполняющий вывод информации о счетах клиентов из Бразилии. Результат должен содержать данные из таблицы Invoice: идентификатор счета, идентификатор клиента, дату выставления счета, адрес (BillingAddress), город (BillingCity) и страну (Billing Country) плательщика. Информацию о стране клиента (Brazil) получите в подзапросе из таблицы Customer (столбец Country).

2.2. С помощью подзапроса покажите фамилию, имя, должность сотрудников, подчиняющихся сотруднику Nancy Edwards.

2.3. С помощью подзапроса покажите идентификатор, название, длительность в минутах трэков в жанре *Classical* продолжительностью более 8 минут.

2.4. С помощью подзапроса покажите альбомы, в составе которых более 25 трэков.

2.5. С помощью подзапроса покажите жанры, в составе которых имеются трэки, длящиеся более 18 минут.

2.6. С помощью подзапроса покажите артистов (Artist), исполняющих произведения в жанре *Classical*.

2.7. С помощью подзапроса найдите артистов (Artist), записавших альбомы, в которых более 20 произведений.

2.8. С помощью подзапроса найдите сотрудников, подчиняющихся рукводителю, проживающему с подчинённым в одном городе.