<img src="../Img/Python_SQL_PI.png" style="width:100%">


<p style="font-size:22px;text-align:center">Семинар 4.1. Подзапросы</p> 

<a id = Home></a>

17 марта 2022 года, пн<br>
Поток: ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (2 подгруппа)<br>


21 марта 2022 года, чт<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (3 подгруппа)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (4 подгруппа)<br>

31 марта 2022 года, чт<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (1 подгруппа)


```
STUDENT
STUDENT_ID — числовой код, идентифицирующий студента (идентификатор студента),
SURNAME — фамилия студента,
NAME — имя студента,
STIPEND — стипендия, которую получает студент,
KURS — курс, на котором учится студент,
CITY — город, в котором живет студент,
BIRTHDAY — дата рождения студента,
UNIV_ID — идентификатор университета, в котором учится студент.


LECTURER
LECTURER_ID — идентификатор преподавателя,
SURNAME — фамилия преподавателя,
NAME — имя преподавателя,
CITY — город, в котором живет преподаватель,
UNIV_ID — идентификатор университета, в котором работает преподаватель


SUBJECT
SUBJ_ID — идентификатор предмета обучения,
SUBJ_NAME — наименование предмета обучения,
HOUR — количество часов, отводимых на изучение предмета,
SEMESTER — семестр, в котором изучается данный предмет.


UNIVERSITY
UNIV_ID — идентификатор университета,
UNIV_NAME — название университета,
RATING — рейтинг университета,
CITY — город, в котором расположен университет.


EXAM_MARKS
EXAM_ID — идентификатор экзамена,
STUDENT_ID — идентификатор студента,
SUBJ_ID — идентификатор предмета обучения,
MARK — экзаменационная оценка,
EXAM_DATE — дата экзамена.


SUBJ_LECT
LECTURER_ID — идентификатор преподавателя,
SUBJ_ID — идентификатор предмета обучения.
```

<img src="../Img/Students_Schema.png" style="width:60%">

In [1]:
#! pip install sqlalchemy

In [39]:
from sqlalchemy import MetaData, Table, create_engine, select, and_, or_, not_
from sqlalchemy.sql import func, distinct, exists, text

In [2]:
engine = create_engine('sqlite:///../Data/Students.db')
metadata_obj = MetaData() # Объект-контейнер, содержит информацию о схеме данных
metadata_obj.reflect(bind=engine) # Отображение БД
# Вызов метода reflect() приводит к включению в объект metadata_obj словаря всех таблиц БД.

Несколько примеров получения информации о БД с помощью методов объекта ***metadata_obj***.

In [3]:
# Таблицы в БД
metadata_obj.tables.keys()

dict_keys(['city', 'exam_marks', 'student', 'university', 'subject', 'lecturer', 'subj_lect'])

In [4]:
# Имя конкретной таблицы
metadata_obj.tables['student'].name

'student'

In [5]:
# Столбцы конкретной таблицы
metadata_obj.tables['student'].columns.keys()

['student_id',
 'surname',
 'name',
 'stipend',
 'kurs',
 'city',
 'birthday',
 'univ_id']

In [6]:
# Информация о столбце
metadata_obj.tables['student'].columns['student_id']

Column('student_id', INTEGER(), table=<student>, primary_key=True, nullable=False)

In [7]:
for t in metadata_obj.sorted_tables:
    print(t.name)

city
subject
university
lecturer
student
exam_marks
subj_lect

In [8]:
for t in metadata_obj.sorted_tables:
    print(t.name)
    for c in t.columns:
        print(c)
    print()

city
city.city_id
city.name

subject
subject.subj_id
subject.subj_name
subject.hour
subject.semester

university
university.univ_id
university.univ_name
university.rating
university.city

lecturer
lecturer.lecturer_id
lecturer.surname
lecturer.name
lecturer.city
lecturer.univ_id

student
student.student_id
student.surname
student.name
student.stipend
student.kurs
student.city
student.birthday
student.univ_id

exam_marks
exam_marks.exam_id
exam_marks.student_id
exam_marks.subj_id
exam_marks.mark
exam_marks.exam_date

subj_lect
subj_lect.lecturer_id
subj_lect.subj_id

<img src=../Img/pencil.png style="width:190px;height:190px">
<p style="background-color:powderblue; font-size:125%; color: rebeccapurple;">Выполните задания</p>
<p>Выполните задания в Jupyter Notebook</p>

1. С помощью подзапроса напишите запрос, выводящий список студентов, получающих максимальную стипендию, отсортировав его в алфавитном порядке по фамилиям.
2. С помощью подзапроса напишите запрос, выводящий список студентов, получающих стипендию, превышающую среднее значение стипендии.
3. С помощью подзапроса напишите запрос, выводящий список студентов, обучающихся в Воронеже, с последующей сортировкой по идентификаторам университетов и курсам.
4. С помощью подзапроса напишите запрос, выводящий список предметов, на изучение которых отведено максимальное количество часов.
5. Напишите запрос, выполняющий вывод имен и фамилий студентов, место проживания которых не совпадает с городом, в котором находится их университет.
6. С помощью подзапроса напишите запрос, выводящий список университетов, расположенных в Москве и имеющих рейтинг больший, чем у ВГУ.
7. С помощью связанного подзапроса напишите запрос, выполняющий вывод количества предметов, по которым экзаменовался каждый студент, сдававший более 1 предмета.
8. С помощью связанного подзапроса покажите имена и идентификаторы студентов, у которых стипендия совпадает с максимальным значением стипендии для города студента.
9. Напишите запрос, который позволяет вывести имена и идентификаторы всех студентов, о которых точно известно, что они проживают в городе, где нет ни одного университета.
10. Напишите два запроса, которые позволяют вывести имена и идентификаторы всех студентов, о которых точно известно, что они проживают не в том городе, где расположен их университет: один запрос с использованием связанного подзапроса, а другой с использованием соединения.
11. С помощью EXISTS напишите запрос, позволяющий вывести данные обо всех студентах обучающихся в вузах, имеющих рейтинг выше 300.
12. Напишите предыдущий запрос, используя соединения.
13. С помощью EXISTS напишите запрос, позволяющий выбрать сведения о каждом студенте, для которого в городе его проживания имеется хотя бы один университет, в котором он не учится.
14. Напишите запрос, выбирающий из таблицы SUBJECT данные о названиях предметов обучения, экзамены по которым сданы более чем одним студентом.
15. Напишите запрос для получения списка городов проживания студентов, в которых есть хотя бы один университет.

Создание объектов таблиц

In [9]:
exam_marks=Table("exam_marks", metadata_obj, autoload=True, autoload_with="engine")
lecturer=Table("lecturer", metadata_obj, autoload=True, autoload_with="engine")
student=Table("student", metadata_obj, autoload=True, autoload_with="engine")
subj_lect=Table("subj_lect", metadata_obj, autoload=True, autoload_with="engine")
subject=Table("subject", metadata_obj, autoload=True, autoload_with="engine")
university=Table("university", metadata_obj, autolad=True, autolad_with="engine")

In [10]:
conn=engine.connect() # Соединение

# Решение

In [14]:
# Ваш код здесь
"""
С помощью подзапроса напишите запрос, выводящий список студентов, 
получающих максимальную стипендию, отсортировав его в алфавитном порядке по фамилиям.
"""

subq = select(func.max(student.c.stipend)).scalar_subquery()

s = select(student.c.surname, student.c.name, func.strftime("%Y-%m-%d",student.c.birthday), student.c.stipend)
s = s.where(student.c.stipend == subq)
s = s.order_by(student.c.surname)
print(s)

result = conn.execute(s).fetchall()
print(len(result))
result [:10]

SELECT student.surname, student.name, strftime(:strftime_2, student.birthday) AS strftime_1, student.stipend
FROM student
WHERE student.stipend = (SELECT max(student.stipend) AS max_1
FROM student) ORDER BY student.surname
18

[('Белкин', 'Вадим', '2000-01-07', 250),
 ('Блохина', 'Ираида', '1997-03-23', 250),
 ('Вячеслав', 'Пахомов', '1997-05-14', 250),
 ('Ершов', 'Митрофан', '2001-05-28', 250),
 ('Жук', 'Оксана', '2000-11-16', 250),
 ('Зайцева', 'Ольга', '2001-05-01', 250),
 ('Казакова', 'Ольга', '2000-03-29', 250),
 ('Кудряшов', 'Роман', '1997-08-26', 250),
 ('Мельникова', 'Светлана', '1998-03-24', 250),
 ('Морозов', 'Кирилл', '2000-09-29', 250)]

In [15]:
# 2
"""
С помощью подзапроса напишите запрос, выводящий список студентов, 
получающих стипендию, превышающую среднее значение стипендии.
"""

subq = select(func.avg(student.c.stipend)).scalar_subquery()

s = select(student.c.surname, student.c.name, 
           func.strftime("%Y-%m-%d", student.c.birthday), student.c.stipend)

s = s.where(student.c.stipend >= subq)

result = conn.execute(s).fetchall()
print(len(result))
result[:10]

60

[('Иванов', 'Иван', '2002-12-03', 150),
 ('Петров', 'Петр', '2000-12-01', 200),
 ('Сидоров', 'Вадим', '1999-06-07', 150),
 ('Зайцева', 'Ольга', '2001-05-01', 250),
 ('Котов', 'Павел', '2001-02-28', 150),
 ('Белкин', 'Вадим', '2000-01-07', 250),
 ('Дуб', 'Елизавета', '2004-07-04', 150),
 ('Жук', 'Оксана', '2000-11-16', 250),
 ('Некрасова', 'Вероника', '2004-08-23', 250),
 ('Казакова', 'Ольга', '2000-03-29', 250)]

In [20]:
# 3
"""
С помощью подзапроса напишите запрос, выводящий список студентов, 
обучающихся в Воронеже, с последующей сортировкой по идентификаторам университетов и курсам.
"""

sq = select(university.c.univ_id)
sq = sq.where(university.c.city == 'Воронеж')

s = select(student)
s = s.where(student.c.univ_id.in_(sq))
s = s.order_by(student.c.univ_id, student.c.kurs)

print(s)

result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT student.student_id, student.surname, student.name, student.stipend, student.kurs, student.city, student.birthday, student.univ_id
FROM student
WHERE student.univ_id IN (SELECT university.univ_id
FROM university
WHERE university.city = :city_1) ORDER BY student.univ_id, student.kurs
23

[(1, 'Иванов', 'Иван', 150, 1, 'Орел', datetime.datetime(2002, 12, 3, 0, 0), 10),
 (78, 'Агафонов', 'Василий', 150, 1, 'Грозный', datetime.datetime(1994, 10, 29, 0, 0), 10),
 (99, 'Борисова', 'Марина', 150, 1, 'Рославль', datetime.datetime(1995, 8, 7, 0, 0), 10),
 (113, 'Аксенов', 'Валерий', 150, 1, 'Мурманск', datetime.datetime(1994, 10, 27, 0, 0), 10),
 (10, 'Кузнецов', 'Борис', 0, 2, 'Брянск', datetime.datetime(2001, 12, 8, 0, 0), 10),
 (12, 'Зайцева', 'Ольга', 250, 2, 'Липецк', datetime.datetime(2001, 5, 1, 0, 0), 10),
 (66, 'Некрасова', 'Вероника', 250, 2, 'Иркутск', datetime.datetime(2004, 8, 23, 0, 0), 10),
 (3, 'Петров', 'Петр', 200, 3, 'Курск', datetime.datetime(2000, 12, 1, 0, 0), 10),
 (62, 'Семенова', 'Вероника', 0, 3, 'Вологда', datetime.datetime(2003, 10, 4, 0, 0), 10),
 (88, 'Жданова', 'Ирина', 200, 3, 'Тверь', datetime.datetime(2002, 3, 2, 0, 0), 10)]

In [19]:
# 3 Var 2
"""
С помощью подзапроса напишите запрос, выводящий список студентов, 
обучающихся в Воронеже, с последующей сортировкой по идентификаторам университетов и курсам.
"""

sq = select(university.c.univ_id)
sq = sq.where(university.c.city == 'Воронеж')
sq = sq.where(university.c.univ_id == student.c.univ_id).scalar_subquery()

s = select(student)
s = s.where(student.c.univ_id == sq)
s = s.order_by(student.c.univ_id, student.c.kurs)

print(s)

result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT student.student_id, student.surname, student.name, student.stipend, student.kurs, student.city, student.birthday, student.univ_id
FROM student
WHERE student.univ_id = (SELECT university.univ_id
FROM university
WHERE university.city = :city_1 AND university.univ_id = student.univ_id) ORDER BY student.univ_id, student.kurs
23

[(1, 'Иванов', 'Иван', 150, 1, 'Орел', datetime.datetime(2002, 12, 3, 0, 0), 10),
 (78, 'Агафонов', 'Василий', 150, 1, 'Грозный', datetime.datetime(1994, 10, 29, 0, 0), 10),
 (99, 'Борисова', 'Марина', 150, 1, 'Рославль', datetime.datetime(1995, 8, 7, 0, 0), 10),
 (113, 'Аксенов', 'Валерий', 150, 1, 'Мурманск', datetime.datetime(1994, 10, 27, 0, 0), 10),
 (10, 'Кузнецов', 'Борис', 0, 2, 'Брянск', datetime.datetime(2001, 12, 8, 0, 0), 10),
 (12, 'Зайцева', 'Ольга', 250, 2, 'Липецк', datetime.datetime(2001, 5, 1, 0, 0), 10),
 (66, 'Некрасова', 'Вероника', 250, 2, 'Иркутск', datetime.datetime(2004, 8, 23, 0, 0), 10),
 (3, 'Петров', 'Петр', 200, 3, 'Курск', datetime.datetime(2000, 12, 1, 0, 0), 10),
 (62, 'Семенова', 'Вероника', 0, 3, 'Вологда', datetime.datetime(2003, 10, 4, 0, 0), 10),
 (88, 'Жданова', 'Ирина', 200, 3, 'Тверь', datetime.datetime(2002, 3, 2, 0, 0), 10)]

In [21]:
# 4
"""
С помощью подзапроса напишите запрос, выводящий список предметов, 
на изучение которых отведено максимальное количество часов.
"""

subq = select(func.max(subject.c.hour)).scalar_subquery()

s = select(subject)
s = s.where(subject.c.hour == subq)

print(s)

result = conn.execute(s).fetchall()
print(len(result))
result

SELECT subject.subj_id, subject.subj_name, subject.hour, subject.semester
FROM subject
WHERE subject.hour = (SELECT max(subject.hour) AS max_1
FROM subject)
1

[(23, 'Теория вероятностей и математическая статистика', 72, 4)]

In [23]:
# 5
"""
Напишите запрос, выполняющий вывод имен и фамилий студентов, 
место проживания которых не совпадает с городом, в котором находится их университет.
"""

sq = select(university.c.city)
sq = sq.where(university.c.univ_id == student.c.univ_id).scalar_subquery()

s = select(student.c.surname, student.c.name)
s = s.where(student.c.city != sq)

print(s)

result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT student.surname, student.name
FROM student
WHERE student.city != (SELECT university.city
FROM university
WHERE university.univ_id = student.univ_id)
79

[('Иванов', 'Иван'),
 ('Петров', 'Петр'),
 ('Кузнецов', 'Борис'),
 ('Зайцева', 'Ольга'),
 ('Ордуханян', 'Рафаэль'),
 ('Дуб', 'Елизавета'),
 ('Кудряшова', 'Вера'),
 ('Рожкова', 'Пелагея'),
 ('Соколова', 'Ия'),
 ('Семенова', 'Вероника')]

In [24]:
'''6. С помощью подзапроса напишите запрос, выводящий список университетов,
расположенных в Москве и имеющих рейтинг больший, чем у ВГУ.'''

sq = select(university.c.rating)
sq = sq.where(university.c.univ_name == 'ВГУ').scalar_subquery()

s = select(university.c.univ_name)
s = s.where(and_(university.c.rating > sq, university.c.city=='Москва'))

print(s)

result = conn.execute(s).fetchall()
print(len(result))
result

SELECT university.univ_name
FROM university
WHERE university.rating > (SELECT university.rating
FROM university
WHERE university.univ_name = :univ_name_1) AND university.city = :city_1
4

[('МФТИ',), ('МГУ',), ('ФинУ',), ('МГТУ им. Баумана',)]

In [29]:
# 7
"""
С помощью связанного подзапроса напишите запрос, выполняющий вывод количества предметов, 
по которым экзаменовался каждый студент, сдававший более 1 предмета.
"""

s = select(exam_marks.c.student_id, func.count(exam_marks.c.subj_id))
s = s.group_by(exam_marks.c.student_id)
s = s.having(func.count(exam_marks.c.subj_id)>1)

print(s)

result = conn.execute(s).fetchall()
print(len(result))
result

SELECT exam_marks.student_id, count(exam_marks.subj_id) AS count_1
FROM exam_marks GROUP BY exam_marks.student_id
HAVING count(exam_marks.subj_id) > :count_2
6

[(12, 2), (55, 2), (76, 2), (85, 2), (101, 2), (128, 2)]

In [31]:
# 8
"""
С помощью связанного подзапроса покажите имена и идентификаторы студентов, 
у которых стипендия совпадает с максимальным значением стипендии для города студента.
"""

st1 = student.alias('st1') # внешний
st2 = student.alias('st2') # внутренний

subq = select(func.max(st2.c.stipend))
subq = subq.where(st2.c.city == st1.c.city).scalar_subquery()

s = select(st1.c.student_id, st1.c.surname, st1.c.name, st1.c.city)
s = s.where(st1.c.stipend == subq)

print(s)

result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT st1.student_id, st1.surname, st1.name, st1.city
FROM student AS st1
WHERE st1.stipend = (SELECT max(st2.stipend) AS max_1
FROM student AS st2
WHERE st2.city = st1.city)
73

[(12, 'Зайцева', 'Ольга', 'Липецк'),
 (55, 'Белкин', 'Вадим', 'Воронеж'),
 (56, 'Дуб', 'Елизавета', 'Усть-Кут'),
 (57, 'Кудряшова', 'Вера', 'Нижневартовск'),
 (58, 'Журавлева', 'Вера', 'Новосибирск'),
 (60, 'Рожкова', 'Пелагея', 'Рубцовск'),
 (61, 'Соколова', 'Ия', 'Колпашево'),
 (62, 'Семенова', 'Вероника', 'Вологда'),
 (64, 'Жук', 'Оксана', 'Воркута'),
 (66, 'Некрасова', 'Вероника', 'Иркутск')]

In [35]:
# 9
"""
Напишите запрос, который позволяет вывести имена и идентификаторы всех студентов, 
о которых точно известно, что они проживают в городе, где нет ни одного университета.
"""

cities_w_univ = select(university.c.city) # города, где есть университеты

s = select(student.c.name, student.c.student_id, student.c.city) \
.filter(student.c.city.not_in(cities_w_univ)) \
.filter(student.c.city.isnot(None))

print(s)

result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT student.name, student.student_id, student.city
FROM student
WHERE (student.city NOT IN (SELECT university.city
FROM university)) AND student.city IS NOT NULL
77

[('Иван', 1, 'Орел'),
 ('Петр', 3, 'Курск'),
 ('Борис', 10, 'Брянск'),
 ('Ольга', 12, 'Липецк'),
 ('Рафаэль', 15, 'Липецк'),
 ('Елизавета', 56, 'Усть-Кут'),
 ('Вера', 57, 'Нижневартовск'),
 ('Пелагея', 60, 'Рубцовск'),
 ('Ия', 61, 'Колпашево'),
 ('Вероника', 62, 'Вологда')]

In [44]:
# 10
"""Напишите два запроса, которые позволяют вывести имена и идентификаторы всех студентов,
о которых точно известно, что они проживают не в том городе,
где расположен их университет: один запрос с использованием связанного подзапроса, 
а другой с использованием соединения."""

subq = select(university.c.city)
subq = subq.where(student.c.univ_id == university.c.univ_id).scalar_subquery()

s = select(student.c.student_id, student.c.surname, student.c.name, \
          student.c.univ_id, student.c.city)
s = s.where(student.c.city != subq)

result = conn.execute(s).fetchall()
print(len(result))
result[:10]

79

[(1, 'Иванов', 'Иван', 10, 'Орел'),
 (3, 'Петров', 'Петр', 10, 'Курск'),
 (10, 'Кузнецов', 'Борис', 10, 'Брянск'),
 (12, 'Зайцева', 'Ольга', 10, 'Липецк'),
 (15, 'Ордуханян', 'Рафаэль', 18, 'Липецк'),
 (56, 'Дуб', 'Елизавета', 48, 'Усть-Кут'),
 (57, 'Кудряшова', 'Вера', 14, 'Нижневартовск'),
 (60, 'Рожкова', 'Пелагея', 48, 'Рубцовск'),
 (61, 'Соколова', 'Ия', 18, 'Колпашево'),
 (62, 'Семенова', 'Вероника', 10, 'Вологда')]

In [47]:
# 11
"""
С помощью EXISTS напишите запрос, позволяющий вывести данные обо всех студентах 
обучающихся в вузах, имеющих рейтинг выше 300.
"""

subq = exists(university).where(university.c.univ_id == student.c.univ_id)
subq = subq.where(university.c.rating > 300)

s = select(student.c.name, student.c.surname, student.c.univ_id)
s = s.where(subq)

print(s)

result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT student.name, student.surname, student.univ_id
FROM student
WHERE EXISTS (SELECT university.univ_id, university.univ_name, university.rating, university.city
FROM university
WHERE university.univ_id = student.univ_id AND university.rating > :rating_1)
63

[('Вадим', 'Сидоров', 22),
 ('Рафаэль', 'Ордуханян', 18),
 ('Павел', 'Котов', 14),
 ('Вера', 'Кудряшова', 14),
 ('Вера', 'Журавлева', 11),
 ('Ия', 'Соколова', 18),
 ('Ирина', 'Пак', 15),
 ('Ольга', 'Казакова', 44),
 ('Елена', 'Шубина', 45),
 ('Анна', 'Миронова', 46)]

In [49]:
# 12
"""
Напишите предыдущий запрос, используя соединения.
"""

s = select(student.c.name, student.c.surname, student.c.univ_id)
s = s.where(student.c.univ_id == university.c.univ_id)
s = s.where(university.c.rating > 300)

print(s)

result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT student.name, student.surname, student.univ_id
FROM student, university
WHERE student.univ_id = university.univ_id AND university.rating > :rating_1
63

[('Вадим', 'Сидоров', 22),
 ('Рафаэль', 'Ордуханян', 18),
 ('Павел', 'Котов', 14),
 ('Вера', 'Кудряшова', 14),
 ('Вера', 'Журавлева', 11),
 ('Ия', 'Соколова', 18),
 ('Ирина', 'Пак', 15),
 ('Ольга', 'Казакова', 44),
 ('Елена', 'Шубина', 45),
 ('Анна', 'Миронова', 46)]

In [53]:
# 13
"""
С помощью EXISTS напишите запрос, позволяющий выбрать сведения о каждом студенте,
для которого в городе его проживания имеется хотя бы один университет, в котором он не учится.
"""

subq = exists().where(and_(university.c.univ_id != student.c.univ_id, 
                           student.c.city == university.c.city))

s = select(student)
s = s.where(subq)

result = conn.execute(s).fetchall()
print(len(result))
result[:]

8

[(6, 'Сидоров', 'Вадим', 150, 4, 'Москва', datetime.datetime(1999, 6, 7, 0, 0), 22),
 (55, 'Белкин', 'Вадим', 250, 5, 'Воронеж', datetime.datetime(2000, 1, 7, 0, 0), 10),
 (75, 'Игнатова', 'Зинаида', 100, 5, 'Ростов', datetime.datetime(2000, 9, 26, 0, 0), 22),
 (200, 'Баранов', 'Александр', 220, 2, 'Москва', datetime.datetime(2001, 8, 18, 0, 0), 44),
 (207, 'Миронова', 'Федор', 200, 3, 'Москва', datetime.datetime(2002, 4, 15, 0, 0), 45),
 (265, 'Павлов', 'Андрей', 0, 3, 'Воронеж', datetime.datetime(2000, 11, 5, 0, 0), 10),
 (276, 'Петров', 'Антон', 200, 4, 'Ульяновск', datetime.datetime(2001, 8, 5, 0, 0), 22),
 (654, 'Лукин', 'Артем', 200, 3, 'Воронеж', datetime.datetime(2001, 12, 1, 0, 0), 10)]

In [67]:
# 14
"""
Напишите запрос, выбирающий из таблицы SUBJECT данные о названиях предметов обучения,
экзамены по которым сданы более чем одним студентом.
"""
em = exam_marks.alias('em')
su = subject.alias('su')

subq = select(func.count(em.c.student_id))
subq = subq.where(su.c.subj_id == em.c.subj_id).scalar_subquery()

s = select(distinct(su.c.subj_id), su.c.subj_name)
s = s.where(subq > 1)

print(s)

result = conn.execute(s).fetchall()
print(len(result))
result[:]

SELECT DISTINCT su.subj_id, su.subj_name
FROM subject AS su
WHERE (SELECT count(em.student_id) AS count_1
FROM exam_marks AS em
WHERE su.subj_id = em.subj_id) > :param_1
9

[(12, 'Анализ данных'),
 (94, 'Английский язык'),
 (10, 'Информатика'),
 (56, 'История'),
 (43, 'Математика'),
 (13, 'ОБЖ'),
 (11, 'Программирование на языках Python и SQL'),
 (22, 'Физика'),
 (73, 'Физкультура')]

In [69]:
# 15

"""
Напишите запрос для получения списка городов проживания студентов, 
в которых есть хотя бы один университет.
"""

sub = select(university.c.city) # города, где есть университеты

s = select(distinct(student.c.city)).filter(student.c.city.in_(sub))
res = conn.execute(s).fetchall()
print(len(res))
print(s)
res

6
SELECT DISTINCT student.city
FROM student
WHERE student.city IN (SELECT university.city
FROM university)

[('Москва',),
 ('Белгород',),
 ('Воронеж',),
 ('Новосибирск',),
 ('Ростов',),
 ('Ульяновск',)]