<img src="../Img/Python_SQL_PI.png" style="width:100%">


<p style="font-size:22px;text-align:center">Семинар 4.2. Подзапросы</p> 

<a id = Home></a>

24 марта 2022 года, чт<br>
Поток: ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (2 подгруппа)<br>


28 марта 2022 года, пн<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (3 подгруппа)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (4 подгруппа)<br>

31 марта 2022 года, чт<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (1 подгруппа)


```
STUDENT
STUDENT_ID — числовой код, идентифицирующий студента (идентификатор студента),
SURNAME — фамилия студента,
NAME — имя студента,
STIPEND — стипендия, которую получает студент,
KURS — курс, на котором учится студент,
CITY — город, в котором живет студент,
BIRTHDAY — дата рождения студента,
UNIV_ID — идентификатор университета, в котором учится студент.


LECTURER
LECTURER_ID — идентификатор преподавателя,
SURNAME — фамилия преподавателя,
NAME — имя преподавателя,
CITY — город, в котором живет преподаватель,
UNIV_ID — идентификатор университета, в котором работает преподаватель


SUBJECT
SUBJ_ID — идентификатор предмета обучения,
SUBJ_NAME — наименование предмета обучения,
HOUR — количество часов, отводимых на изучение предмета,
SEMESTER — семестр, в котором изучается данный предмет.


UNIVERSITY
UNIV_ID — идентификатор университета,
UNIV_NAME — название университета,
RATING — рейтинг университета,
CITY — город, в котором расположен университет.


EXAM_MARKS
EXAM_ID — идентификатор экзамена,
STUDENT_ID — идентификатор студента,
SUBJ_ID — идентификатор предмета обучения,
MARK — экзаменационная оценка,
EXAM_DATE — дата экзамена.


SUBJ_LECT
LECTURER_ID — идентификатор преподавателя,
SUBJ_ID — идентификатор предмета обучения.
```

<img src="../Img/Students_Schema.png" style="width:60%">

<img src=../Img/pencil.png style="width:190px;height:190px">
<p style="background-color:powderblue; font-size:125%; color: rebeccapurple;">Выполните задания</p>
<p>Выполните задания в Jupyter Notebook на тему "Связанные подзапросы"</p>

1. Напишите запрос для получения списка студентов, которые учатся в своем городе.
2. Напишите запрос для получения списка иногородних студентов (обучающихся не в своем городе), с последующей сортировкой по идентификаторам университетов и курсам.
3. Напишите запрос для получения списка преподавателей, работающих не в своем городе, с последующей сортировкой по идентификаторам университетов и городам проживания преподавателей.
4. Напишите запрос для получения списка предметов, на изучение которых отведено максимальное количество часов среди всех предметов, изучаемых в том же семестре. Список упорядочить по семестрам.
5. Напишите запрос для получения списка студентов, получающих стипендию, превосходящую среднее значение стипендии на их курсе.
6. Напишите запрос для получения списка студентов, получающих минимальную стипендию в своем университете, с последующей сортировкой по значениям идентификатора университета и стипендии.
7. Напишите запрос для получения списка университетов, в которых учится более 5 студентов, с последующей сортировкой по рейтингам.
8. Напишите запрос для получения списка университетов, в которых работает более 5 преподавателей, с последующей сортировкой по рейтингам университетов.
9. Напишите запрос для получения списка отличников (студентов, получивших только отличные оценки), с последующей сортировкой по идентификаторам университетов и курсам.
10. Напишите запрос для получения списка неуспевающих студентов (получивших хотя бы одну неудовлетворительную оценку), с последующей сортировкой по идентификаторам университетов и курсам.

<p style="background-color:powderblue; font-size:125%; color: rebeccapurple;">Выполните задания</p>
<p>Выполните задания в Jupyter Notebook.</p>

1. Напишите команду SELECT, использующую связанные подзапросы и выполняющую вывод имен и идентификаторов студентов, у которых стипендия совпадает с максимальным значением стипендии для города, в котором живет студент.
6. Напишите запрос, который позволяет вывести имена и идентификаторы всех студентов, о которых точно известно, что они проживают в городе, где нет ни одного университета.
7. Напишите два запроса, которые позволяют вывести имена и идентификаторы всех студентов, о которых точно известно, что они проживают не в том городе, где расположен их университет: один запрос с использованием связанного подзапроса, а другой с использованием соединения.

<p style="background-color:powderblue; font-size:125%; color: rebeccapurple;">Выполните задания</p>
<p>Выполните задания в Jupyter Notebook на тему "Использование оператора EXISTS".</p>

1. Напишите запрос с EXISTS, позволяющий вывести данные обо всех студентах обучающихся в вузах, имеющих рейтинг выше 300.

2. Напишите предыдущий запрос, используя соединения.

3. Напишите запрос с EXISTS, выбирающий сведения о каждом студенте, для которого в городе его проживания имеется хотя бы один университет, в котором он не учится.

4. Напишите запрос, выбирающий из таблицы SUBJECT данные о названиях предметов обучения, экзамены по которым сданы более чем одним студентом.

5. Напишите запрос для получения списка городов проживания студентов, в которых есть хотя бы один университет.

In [3]:
#! pip install sqlalchemy

In [4]:
from sqlalchemy import MetaData, Table, create_engine, select, and_, or_, not_
from sqlalchemy.sql import func

In [5]:
engine = create_engine('sqlite:///../Data/Students.db')
metadata_obj = MetaData() # Объект-контейнер, содержит информацию о схеме данных
metadata_obj.reflect(bind=engine) # Отображение БД
# Вызов метода reflect() приводит к включению в объект metadata_obj словаря всех таблиц БД.
conn=engine.connect() # Соединение

In [6]:
# Таблицы в БД
metadata_obj.tables.keys()

dict_keys(['city', 'exam_marks', 'student', 'university', 'subject', 'lecturer', 'subj_lect'])

Создание объектов таблиц

In [7]:
exam_marks=Table("exam_marks", metadata_obj, autoload=True, autoload_with="engine")
lecturer=Table("lecturer", metadata_obj, autoload=True, autoload_with="engine")
student=Table("student", metadata_obj, autoload=True, autoload_with="engine")
subj_lect=Table("subj_lect", metadata_obj, autoload=True, autoload_with="engine")
subject=Table("subject", metadata_obj, autoload=True, autoload_with="engine")
university=Table("university", metadata_obj, autolad=True, autolad_with="engine")

# Решение

In [9]:
# Ваш код здесь

#2

"""
Напишите запрос для получения списка иногородних студентов (обучающихся не в своем городе), 
с последующей сортировкой по идентификаторам университетов и курсам.
"""

sq = select(university.c.city)
sq = sq.where(university.c.univ_id == student.c.univ_id).scalar_subquery()

s = select(student)
s = s.where(student.c.city != sq)
s = s.order_by(student.c.univ_id, student.c.kurs)
print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT student.student_id, student.surname, student.name, student.stipend, student.kurs, student.city, student.birthday, student.univ_id
FROM student
WHERE student.city != (SELECT university.city
FROM university
WHERE university.univ_id = student.univ_id) ORDER BY student.univ_id, student.kurs
79

[(1, 'Иванов', 'Иван', 150, 1, 'Орел', datetime.datetime(2002, 12, 3, 0, 0), 10),
 (78, 'Агафонов', 'Василий', 150, 1, 'Грозный', datetime.datetime(1994, 10, 29, 0, 0), 10),
 (99, 'Борисова', 'Марина', 150, 1, 'Рославль', datetime.datetime(1995, 8, 7, 0, 0), 10),
 (113, 'Аксенов', 'Валерий', 150, 1, 'Мурманск', datetime.datetime(1994, 10, 27, 0, 0), 10),
 (10, 'Кузнецов', 'Борис', 0, 2, 'Брянск', datetime.datetime(2001, 12, 8, 0, 0), 10),
 (12, 'Зайцева', 'Ольга', 250, 2, 'Липецк', datetime.datetime(2001, 5, 1, 0, 0), 10),
 (66, 'Некрасова', 'Вероника', 250, 2, 'Иркутск', datetime.datetime(2004, 8, 23, 0, 0), 10),
 (3, 'Петров', 'Петр', 200, 3, 'Курск', datetime.datetime(2000, 12, 1, 0, 0), 10),
 (62, 'Семенова', 'Вероника', 0, 3, 'Вологда', datetime.datetime(2003, 10, 4, 0, 0), 10),
 (88, 'Жданова', 'Ирина', 200, 3, 'Тверь', datetime.datetime(2002, 3, 2, 0, 0), 10)]

In [11]:
'''3 Напишите запрос для получения списка преподавателей, работающих не в
своем городе, с последующей сортировкой
по идентификаторам университетов и городам проживания преподавателей. '''

sq = select(university.c.city)
sq = sq.where(university.c.univ_id == lecturer.c.univ_id).scalar_subquery()

s = select(lecturer)
s = s.where(lecturer.c.city != sq)
s = s.order_by(lecturer.c.univ_id, lecturer.c.city)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT lecturer.lecturer_id, lecturer.surname, lecturer.name, lecturer.city, lecturer.univ_id
FROM lecturer
WHERE lecturer.city != (SELECT university.city
FROM university
WHERE university.univ_id = lecturer.univ_id) ORDER BY lecturer.univ_id, lecturer.city
24

[(2, 'Зайцева', 'Юлия', 'Белгород', 10),
 (13, 'Зыкова', 'Оксана', 'Калач', 10),
 (19, 'Алексеев', 'Елисей', 'Мценск', 10),
 (328, 'Сорокин', 'Андрей', 'Орел', 10),
 (6, 'Максимова', 'Иванна', 'Сковородино', 10),
 (3, 'Мамонтова', 'Акулина', 'Троицк (Моск.)', 11),
 (20, 'Тихонов', 'Ладомир', 'Кропоткин (Краснод.)', 15),
 (22, 'Беспалов', 'Юлиан', 'Рыбинск', 15),
 (9, 'Крюкова', 'Людмила', 'Анива', 18),
 (4, 'Богданова', 'Оксана', 'Всеволожск', 18)]

In [14]:
"""
4. Напишите запрос для получения списка предметов, на изучение которых отведено 
максимальное количество часов среди всех предметов, изучаемых в том же семестре.
Список упорядочить по семестрам.
"""

su1 = subject.alias('su1')
su2 = subject.alias('su2')

subq = select(func.max(su2.c.hour))
subq = subq.where(su2.c.semester == su1.c.semester).scalar_subquery()

s = select(su1)
s = s.where(su1.c.hour == subq)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT su1.subj_id, su1.subj_name, su1.hour, su1.semester
FROM subject AS su1
WHERE su1.hour = (SELECT max(su2.hour) AS max_1
FROM subject AS su2
WHERE su2.semester = su1.semester)
5

[(10, 'Информатика', 56, 1),
 (23, 'Теория вероятностей и математическая статистика', 72, 4),
 (43, 'Математика', 56, 2),
 (73, 'Физкультура', 34, 5),
 (94, 'Английский язык', 56, 3)]

In [15]:
"""
5. Напишите запрос для получения списка студентов, получающих стипендию,
превосходящую среднее значение стипендии на их курсе.
"""

st1 = student.alias('st1')
st2 = student.alias('st2')

subq = select(func.avg(st2.c.stipend))
subq = subq.where(st2.c.kurs == st1.c.kurs).scalar_subquery()

s = select(st1.c.surname, st1.c.name, st1.c.kurs, st1.c.stipend)
s = s.where(st1.c.stipend > subq)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT st1.surname, st1.name, st1.kurs, st1.stipend
FROM student AS st1
WHERE st1.stipend > (SELECT avg(st2.stipend) AS avg_1
FROM student AS st2
WHERE st2.kurs = st1.kurs)
54

[('Иванов', 'Иван', 1, 150),
 ('Петров', 'Петр', 3, 200),
 ('Сидоров', 'Вадим', 4, 150),
 ('Зайцева', 'Ольга', 2, 250),
 ('Белкин', 'Вадим', 5, 250),
 ('Жук', 'Оксана', 1, 250),
 ('Некрасова', 'Вероника', 2, 250),
 ('Казакова', 'Ольга', 4, 250),
 ('Миронова', 'Анна', 2, 200),
 ('Кондрат', 'Синицин', 4, 200)]

In [17]:
"""
6. Напишите запрос для получения списка студентов, 
получающих минимальную стипендию в своем университете, 
с последующей сортировкой по значениям идентификатора университета и стипендии.
"""

st1=student.alias('st1')
st2=student.alias('st2')

sb=select(func.min(st2.c.stipend))
sb=sb.where(and_(st2.c.univ_id == st1.c.univ_id, st2.c.stipend > 0)).scalar_subquery()

s = select(st1)
s = s.where(st1.c.stipend == sb)
s = s.order_by(st1.c.univ_id, st1.c.stipend)
print(s)

result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT st1.student_id, st1.surname, st1.name, st1.stipend, st1.kurs, st1.city, st1.birthday, st1.univ_id
FROM student AS st1
WHERE st1.stipend = (SELECT min(st2.stipend) AS min_1
FROM student AS st2
WHERE st2.univ_id = st1.univ_id AND st2.stipend > :stipend_1) ORDER BY st1.univ_id, st1.stipend
20

[(65, 'Сергеева', 'Фёкла', 100, 5, None, datetime.datetime(2000, 2, 19, 0, 0), 10),
 (76, 'Мельникова', 'Дарья', 100, 5, 'Архангельск', datetime.datetime(2002, 8, 1, 0, 0), 10),
 (116, 'Федоров', 'Гостомысл', 100, 4, 'Новый Уренгой', datetime.datetime(2000, 11, 16, 0, 0), 10),
 (123, 'Веселов', 'Тимур', 150, 1, 'Невинномысск', datetime.datetime(1998, 4, 28, 0, 0), 11),
 (57, 'Кудряшова', 'Вера', 100, 5, 'Нижневартовск', datetime.datetime(2002, 2, 18, 0, 0), 14),
 (63, 'Пак', 'Ирина', 100, 1, 'Магадан', datetime.datetime(2000, 8, 22, 0, 0), 15),
 (61, 'Соколова', 'Ия', 100, 1, 'Колпашево', datetime.datetime(2002, 6, 25, 0, 0), 18),
 (75, 'Игнатова', 'Зинаида', 100, 5, 'Ростов', datetime.datetime(2000, 9, 26, 0, 0), 22),
 (105, 'Антонов', 'Анатолий', 100, 1, 'Сыктывкар', datetime.datetime(1997, 4, 8, 0, 0), 22),
 (147, 'Симонов', 'Семен', 100, 5, 'Беломорск', datetime.datetime(2000, 3, 17, 0, 0), 22)]

In [19]:
"""
7. Напишите запрос для получения списка университетов, 
в которых учится более 5 студентов, с последующей сортировкой по рейтингам.
"""

subq = select(func.count(student.c.univ_id))
subq = subq.where(university.c.univ_id == student.c.univ_id).scalar_subquery()

s = select(university)
s = s.where(subq > 5)
s = s.order_by(university.c.rating)

result = conn.execute(s).fetchall()
print(len(result))
result[:10]

8

[(47, 'КФУ', None, 'Казань'),
 (10, 'ВГУ', 296, 'Воронеж'),
 (46, 'ФГБОУ "Политех"', 304, 'Санкт-Петербург'),
 (14, 'БГУ', 326, 'Белгород'),
 (18, 'ВГМА', 327, 'Воронеж'),
 (44, 'ФинУ', 330, 'Москва'),
 (32, 'РГУ', 416, 'Ростов'),
 (22, 'МГУ', 606, 'Москва')]