<img src="../Img/Python_SQL_PI.png" style="width:100%">


<p style="font-size:22px;text-align:center">Семинар 4.2. Подзапросы</p> 

<a id = Home></a>

24 марта 2022 года, чт<br>
Поток: ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (2 подгруппа)<br>


28 марта 2022 года, пн<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (3 подгруппа)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (4 подгруппа)<br>

31 марта 2022 года, чт<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (1 подгруппа)


```
STUDENT
STUDENT_ID — числовой код, идентифицирующий студента (идентификатор студента),
SURNAME — фамилия студента,
NAME — имя студента,
STIPEND — стипендия, которую получает студент,
KURS — курс, на котором учится студент,
CITY — город, в котором живет студент,
BIRTHDAY — дата рождения студента,
UNIV_ID — идентификатор университета, в котором учится студент.


LECTURER
LECTURER_ID — идентификатор преподавателя,
SURNAME — фамилия преподавателя,
NAME — имя преподавателя,
CITY — город, в котором живет преподаватель,
UNIV_ID — идентификатор университета, в котором работает преподаватель


SUBJECT
SUBJ_ID — идентификатор предмета обучения,
SUBJ_NAME — наименование предмета обучения,
HOUR — количество часов, отводимых на изучение предмета,
SEMESTER — семестр, в котором изучается данный предмет.


UNIVERSITY
UNIV_ID — идентификатор университета,
UNIV_NAME — название университета,
RATING — рейтинг университета,
CITY — город, в котором расположен университет.


EXAM_MARKS
EXAM_ID — идентификатор экзамена,
STUDENT_ID — идентификатор студента,
SUBJ_ID — идентификатор предмета обучения,
MARK — экзаменационная оценка,
EXAM_DATE — дата экзамена.


SUBJ_LECT
LECTURER_ID — идентификатор преподавателя,
SUBJ_ID — идентификатор предмета обучения.
```

<img src="../Img/Students_Schema.png" style="width:60%">

<img src=../Img/pencil.png style="width:190px;height:190px">
<p style="background-color:powderblue; font-size:125%; color: rebeccapurple;">Выполните задания</p>
<p>Выполните задания в Jupyter Notebook на тему "Связанные подзапросы"</p>

1. Напишите запрос для получения списка студентов, которые учатся в своем городе.
2. Напишите запрос для получения списка иногородних студентов (обучающихся не в своем городе), с последующей сортировкой по идентификаторам университетов и курсам.
3. Напишите запрос для получения списка преподавателей, работающих не в своем городе, с последующей сортировкой по идентификаторам университетов и городам проживания преподавателей.
4. Напишите запрос для получения списка предметов, на изучение которых отведено максимальное количество часов среди всех предметов, изучаемых в том же семестре. Список упорядочить по семестрам.
5. Напишите запрос для получения списка студентов, получающих стипендию, превосходящую среднее значение стипендии на их курсе.
6. Напишите запрос для получения списка студентов, получающих минимальную стипендию в своем университете, с последующей сортировкой по значениям идентификатора университета и стипендии.
7. Напишите запрос для получения списка университетов, в которых учится более 50 студентов, с последующей сортировкой по рейтингам.
8. Напишите запрос для получения списка университетов, в которых работает более 5 преподавателей, с последующей сортировкой по рейтингам университетов.
9. Напишите запрос для получения списка отличников (студентов, получивших только отличные оценки), с последующей сортировкой по идентификаторам университетов и курсам.
10. Напишите запрос для получения списка неуспевающих студентов (получивших хотя бы одну неудовлетворительную оценку), с последующей сортировкой по идентификаторам университетов и курсам.

# Решение 1

In [11]:
#1 Напишите запрос для получения списка студентов, которые учатся в своем городе.
st = student.alias('st')
u = university.alias('u')

sq = select(u.c.city)
sq = sq.where(u.c.univ_id == st.c.univ_id).scalar_subquery()

s = select(st.c.surname, st.c.name, st.c.city, st.c.univ_id)
s = s.where(st.c.city == sq)

print(s)
rezult = conn.execute(s).fetchall()
print(len(rezult))
rezult

SELECT st.surname, st.name, st.city, st.univ_id
FROM student AS st
WHERE st.city = (SELECT u.city
FROM university AS u
WHERE u.univ_id = st.univ_id)
9

[('Сидоров', 'Вадим', 'Москва', 22),
 ('Котов', 'Павел', 'Белгород', 14),
 ('Белкин', 'Вадим', 'Воронеж', 10),
 ('Журавлева', 'Вера', 'Новосибирск', 11),
 ('Баранов', 'Александр', 'Москва', 44),
 ('Петрова', 'Екатерина', 'Белгород', 14),
 ('Миронова', 'Федор', 'Москва', 45),
 ('Павлов', 'Андрей', 'Воронеж', 10),
 ('Лукин', 'Артем', 'Воронеж', 10)]

In [ ]:
# 2 Напишите запрос для получения списка иногородних студентов (обучающихся не в своем городе),
# с последующей сортировкой по идентификаторам университетов и курсам.
st = student.alias('st')
u = university.alias('u')

sq = select(u.c.city)
sq = sq.where(u.c.univ_id == st.c.univ_id).scalar_subquery()

s = select(st.c.surname, st.c.name, st.c.city, st.c.univ_id, st.c.kurs)
s = s.where(st.c.city == sq)
s = s.order_by(st.c.univ_id, st.c.kurs)

print(s)
rezult = conn.execute(s).fetchall()
print(len(rezult))
rezult

In [14]:
# 3 Напишите запрос для получения списка преподавателей, работающих не в своем городе,
# с последующей сортировкой по идентификаторам университетов и городам проживания преподавателей.
le = lecturer.alias('le')
u = university.alias('u')


sq = select(u.c.city)
sq = sq.where(u.c.univ_id == le.c.univ_id).scalar_subquery()

s = select(le.c.surname, le.c.name, le.c.city, le.c.univ_id)
s = s.where(le.c.city != sq)
s = s.order_by(le.c.univ_id)

print(s)
rezult = conn.execute(s).fetchall()
print(len(rezult))
rezult

SELECT le.surname, le.name, le.city, le.univ_id
FROM lecturer AS le
WHERE le.city != (SELECT u.city
FROM university AS u
WHERE u.univ_id = le.univ_id) ORDER BY le.univ_id
24

[('Зайцева', 'Юлия', 'Белгород', 10),
 ('Максимова', 'Иванна', 'Сковородино', 10),
 ('Зыкова', 'Оксана', 'Калач', 10),
 ('Алексеев', 'Елисей', 'Мценск', 10),
 ('Сорокин', 'Андрей', 'Орел', 10),
 ('Мамонтова', 'Акулина', 'Троицк (Моск.)', 11),
 ('Тихонов', 'Ладомир', 'Кропоткин (Краснод.)', 15),
 ('Беспалов', 'Юлиан', 'Рыбинск', 15),
 ('Богданова', 'Оксана', 'Всеволожск', 18),
 ('Ситникова', 'Светлана', 'Сорочинск', 18),
 ('Крюкова', 'Людмила', 'Анива', 18),
 ('Артемьева', 'Майя', 'Курск', 18),
 ('Сафонов', 'Будимир', 'Киржач', 18),
 ('Дорофеев', 'Прокофий', 'Санкт-Петербург', 32),
 ('Беляков', 'Мефодий', 'Рославль', 32),
 ('Волков', 'Михаил', 'Черусти', 45),
 ('Сафонова', 'Лукия', 'Смоленск', 46),
 ('Стрелков', 'Руслан', 'Королев', 46),
 ('Зимин', 'Юлиан', 'Черский', 46),
 ('Куликова', 'Ираида', 'Городовиковск', 47),
 ('Кудрявцева', 'Анна', 'Петушки', 47),
 ('Брагина', 'Нинель', 'Кижи', 48),
 ('Дмитриева', 'Оксана', 'Шарья', 48),
 ('Елисеев', 'Виссарион', 'Курганинск', 48)]

In [19]:
# 4 Напишите запрос для получения списка предметов,
# на изучение которых отведено максимальное количество часов среди всех предметов,
# изучаемых в том же семестре. Список упорядочить по семестрам.
sjt1 = subject.alias('sjt1')
sjt2 = subject.alias('sjt2')


sq = select(func.max(sjt2.c.hour))
sq = sq.where(sjt2.c.semester == sjt1.c.semester).scalar_subquery()

s = select(sjt1)
s = s.where(sjt1.c.hour == sq)
s = s.order_by(sjt1.c.semester)

print(s)
rezult = conn.execute(s).fetchall()
print(len(rezult))
rezult

SELECT sjt1.subj_id, sjt1.subj_name, sjt1.hour, sjt1.semester
FROM subject AS sjt1
WHERE sjt1.hour = (SELECT max(sjt2.hour) AS max_1
FROM subject AS sjt2
WHERE sjt2.semester = sjt1.semester) ORDER BY sjt1.semester
5

[(10, 'Информатика', 56, 1),
 (43, 'Математика', 56, 2),
 (94, 'Английский язык', 56, 3),
 (23, 'Теория вероятностей и математическая статистика', 72, 4),
 (73, 'Физкультура', 34, 5)]

In [22]:
# 5 Напишите запрос для получения списка студентов,
# получающих стипендию, превосходящую среднее значение стипендии на их курсе
st1 = student.alias('st1')
st2 = student.alias('st2')


sq = select(func.avg(st2.c.stipend))
sq = sq.where(st2.c.kurs == st1.c.kurs).scalar_subquery()

s = select(st1)
s = s.where(st1.c.stipend > sq)

print(s)
rezult = conn.execute(s).fetchall()
print(len(rezult))
rezult

SELECT st1.student_id, st1.surname, st1.name, st1.stipend, st1.kurs, st1.city, st1.birthday, st1.univ_id
FROM student AS st1
WHERE st1.stipend > (SELECT avg(st2.stipend) AS avg_1
FROM student AS st2
WHERE st2.kurs = st1.kurs)
54

[(1, 'Иванов', 'Иван', 150, 1, 'Орел', datetime.datetime(2002, 12, 3, 0, 0), 10),
 (3, 'Петров', 'Петр', 200, 3, 'Курск', datetime.datetime(2000, 12, 1, 0, 0), 10),
 (6, 'Сидоров', 'Вадим', 150, 4, 'Москва', datetime.datetime(1999, 6, 7, 0, 0), 22),
 (12, 'Зайцева', 'Ольга', 250, 2, 'Липецк', datetime.datetime(2001, 5, 1, 0, 0), 10),
 (55, 'Белкин', 'Вадим', 250, 5, 'Воронеж', datetime.datetime(2000, 1, 7, 0, 0), 10),
 (64, 'Жук', 'Оксана', 250, 1, 'Воркута', datetime.datetime(2000, 11, 16, 0, 0), 47),
 (66, 'Некрасова', 'Вероника', 250, 2, 'Иркутск', datetime.datetime(2004, 8, 23, 0, 0), 10),
 (68, 'Казакова', 'Ольга', 250, 4, 'Кемерово', datetime.datetime(2000, 3, 29, 0, 0), 44),
 (70, 'Миронова', 'Анна', 200, 2, 'Владикавказ', datetime.datetime(2000, 10, 8, 0, 0), 46),
 (71, 'Кондрат', 'Синицин', 200, 4, 'Ишим', datetime.datetime(2001, 2, 23, 0, 0), 18),
 (72, 'Пономарева', 'Алина', 250, 2, 'Ангарск', datetime.datetime(2002, 10, 7, 0, 0), 48),
 (78, 'Агафонов', 'Василий', 150, 1, 'Грозный', datetime.datetime(1994, 10, 29, 0, 0), 10),
 (82, 'Лапина', 'Элеонора', 150, 3, 'Джубга', datetime.datetime(1997, 11, 23, 0, 0), 45),
 (83, 'Сорокина', 'Ирина', 200, 3, 'Усмань', datetime.datetime(1993, 9, 28, 0, 0), 48),
 (85, 'Казакова', 'Мария', 150, 4, 'Нальчик', datetime.datetime(1994, 2, 18, 0, 0), 32),
 (86, 'Жукова', 'Фекла', 150, 3, 'Магадан', datetime.datetime(1998, 10, 6, 0, 0), 46),
 (88, 'Жданова', 'Ирина', 200, 3, 'Тверь', datetime.datetime(2002, 3, 2, 0, 0), 10),
 (89, 'Валерия', 'Овчинникова', 200, 5, 'Улан-Удэ', datetime.datetime(2000, 6, 15, 0, 0), 18),
 (91, 'Блохина', 'Ираида', 250, 3, 'Новый Уренгой', datetime.datetime(1997, 3, 23, 0, 0), 22),
 (92, 'Мельникова', 'Светлана', 250, 4, 'Кропоткин (Краснод.)', datetime.datetime(1998, 3, 24, 0, 0), 15),
 (95, 'Сорокина', 'Валерия', 150, 1, 'Енисейск', datetime.datetime(1995, 3, 1, 0, 0), 45),
 (96, 'Тимофеева', 'Фаина', 150, 3, None, datetime.datetime(1999, 8, 1, 0, 0), 45),
 (97, 'Вишнякова', 'Анжела', 200, 2, 'Иваново', datetime.datetime(2002, 2, 10, 0, 0), 46),
 (99, 'Борисова', 'Марина', 150, 1, 'Рославль', datetime.datetime(1995, 8, 7, 0, 0), 10),
 (101, 'Калашников', 'Евгений', 200, 2, 'Калининград', datetime.datetime(1998, 2, 27, 0, 0), 48),
 (103, 'Трофимов', 'Владислав', 250, 5, 'Верхоянск', datetime.datetime(1995, 3, 24, 0, 0), 11),
 (107, 'Морозов', 'Кирилл', 250, 2, 'Кропоткин (Краснод.)', datetime.datetime(2000, 9, 29, 0, 0), 44),
 (108, 'Назаров', 'Икром', 150, 4, 'Саянск', datetime.datetime(2001, 12, 15, 0, 0), 47),
 (110, 'Суханов', 'Константин', 250, 3, 'Курск', datetime.datetime(1996, 11, 22, 0, 0), 14),
 (112, 'Захаров', 'Софон', 150, 3, 'Мурманск', datetime.datetime(1994, 3, 19, 0, 0), 46),
 (113, 'Аксенов', 'Валерий', 150, 1, 'Мурманск', datetime.datetime(1994, 10, 27, 0, 0), 10),
 (114, 'Панов', 'Арсений', 250, 1, 'Геленджик', datetime.datetime(1996, 12, 23, 0, 0), 32),
 (118, 'Кондратьев', 'Николай', 150, 3, 'Ханты-Мансийск', datetime.datetime(1999, 10, 28, 0, 0), 14),
 (123, 'Веселов', 'Тимур', 150, 1, 'Невинномысск', datetime.datetime(1998, 4, 28, 0, 0), 11),
 (125, 'Пономарев', 'Варфоромей', 200, 4, 'Улан-Удэ', datetime.datetime(2000, 12, 15, 0, 0), 44),
 (130, 'Кудряшов', 'Роман', 250, 4, 'Нижний Новгород', datetime.datetime(1997, 8, 26, 0, 0), 32),
 (131, 'Ковалев', 'Ефим', 200, 2, 'Волгоград', datetime.datetime(1995, 11, 28, 0, 0), 47),
 (133, 'Жуковский', 'Юрий', 150, 4, 'Сургут (Хант.)', datetime.datetime(1996, 5, 30, 0, 0), 22),
 (136, 'Ефимов', 'Яков', 200, 1, 'Тимашевск', datetime.datetime(2000, 9, 23, 0, 0), 32),
 (137, 'Кулаков', 'Феофан', 150, 3, 'Волоколамск', datetime.datetime(2001, 3, 14, 0, 0), 46),
 (139, 'Журавлев', 'Фома', 200, 2, 'Улан-Удэ', datetime.datetime(1997, 7, 12, 0, 0), 18),
 (141, 'Ершов', 'Митрофан', 250, 5, 'Пятигорск', datetime.datetime(2001, 5, 28, 0, 0), 22),
 (146, 'Русаков', 'Давид', 250, 2, 'Байкальск', datetime.datetime(1998, 8, 7, 0, 0), 47),
 (149, 'Вячеслав', 'Пахомов', 250, 3, 'Игарка', datetime.datetime(1997, 5, 14, 0, 0), 14),
 (200, 'Баранов', 'Александр', 220, 2, 'Москва', datetime.datetime(2001, 8, 18, 0, 0), 44),
 (201, 'Архипов', 'Андрей', 180, 1, 'Орел', datetime.datetime(2000, 1, 28, 0, 0), 22),
 (202, 'Владимиров', 'Анатолий', 200, 2, 'Курск', datetime.datetime(2003, 5, 21, 0, 0), 14),
 (203, 'Петрова', 'Екатерина', 250, 4, 'Белгород', datetime.datetime(2001, 5, 21, 0, 0), 14),
 (204, 'Петров', 'Вадим', 250, 2, 'Брянск', datetime.datetime(2002, 5, 21, 0, 0), 44),
 (205, 'Иванова', 'Мария', 200, 1, 'Липецк', datetime.datetime(2002, 4, 11, 0, 0), 32),
 (206, 'Киселев', 'Владимир', 210, 2, 'Орел', datetime.datetime(2003, 2, 10, 0, 0), 44),
 (207, 'Миронова', 'Федор', 200, 3, 'Москва', datetime.datetime(2002, 4, 15, 0, 0), 45),
 (276, 'Петров', 'Антон', 200, 4, 'Ульяновск', datetime.datetime(2001, 8, 5, 0, 0), 22),
 (654, 'Лукин', 'Артем', 200, 3, 'Воронеж', datetime.datetime(2001, 12, 1, 0, 0), 10)]

In [27]:
# 6 Напишите запрос для получения списка студентов,
# получающих минимальную стипендию в своем университете,
# с последующей сортировкой по значениям идентификатора университета и стипендии.
st1 = student.alias('st1')
st2 = student.alias('st2')


sq = select(func.min(st2.c.stipend))
sq = sq.where(st2.c.kurs == st1.c.kurs).scalar_subquery()

s = select(st1)
s = s.where(st1.c.stipend == sq, st1.c.stipend > 0)
s = s.order_by(st1.c.univ_id, st1.c.stipend)

print(s)
rezult = conn.execute(s).fetchall()
print(len(rezult))
rezult

SELECT st1.student_id, st1.surname, st1.name, st1.stipend, st1.kurs, st1.city, st1.birthday, st1.univ_id
FROM student AS st1
WHERE st1.stipend = (SELECT min(st2.stipend) AS min_1
FROM student AS st2
WHERE st2.kurs = st1.kurs) AND st1.stipend > :stipend_1 ORDER BY st1.univ_id, st1.stipend
6

[(65, 'Сергеева', 'Фёкла', 100, 5, None, datetime.datetime(2000, 2, 19, 0, 0), 10),
 (76, 'Мельникова', 'Дарья', 100, 5, 'Архангельск', datetime.datetime(2002, 8, 1, 0, 0), 10),
 (57, 'Кудряшова', 'Вера', 100, 5, 'Нижневартовск', datetime.datetime(2002, 2, 18, 0, 0), 14),
 (75, 'Игнатова', 'Зинаида', 100, 5, 'Ростов', datetime.datetime(2000, 9, 26, 0, 0), 22),
 (147, 'Симонов', 'Семен', 100, 5, 'Беломорск', datetime.datetime(2000, 3, 17, 0, 0), 22),
 (73, 'Одинцова', 'Лидия', 100, 5, 'Верхний Баскунчак', datetime.datetime(2002, 3, 7, 0, 0), 44)]

In [38]:
# 7  Напишите запрос для получения списка университетов,
# в которых учится более 50 студентов, с последующей сортировкой по рейтингам.
st = student.alias('st')
u = university.alias('u')


sq = select(func.count(st.c.name))
sq = sq.where(st.c.univ_id == u.c.univ_id).scalar_subquery()

s = select(u)
s = s.where(sq > 7)
s = s.order_by(u.c.rating)

print(s)
rezult = conn.execute(s).fetchall()
print(len(rezult))
rezult

SELECT u.univ_id, u.univ_name, u.rating, u.city
FROM university AS u
WHERE (SELECT count(st.name) AS count_1
FROM student AS st
WHERE st.univ_id = u.univ_id) > :param_1 ORDER BY u.rating
5

[(10, 'ВГУ', 296, 'Воронеж'),
 (46, 'ФГБОУ "Политех"', 304, 'Санкт-Петербург'),
 (14, 'БГУ', 326, 'Белгород'),
 (44, 'ФинУ', 330, 'Москва'),
 (22, 'МГУ', 606, 'Москва')]

In [45]:
# 8  Напишите запрос для получения списка университетов,
# в которых работает более 5 преподавателей, с последующей сортировкой по рейтингам университетов.
lc = lecturer.alias('lc')
u = university.alias('u')


sq = select(func.count(lc.c.name))
sq = sq.where(lc.c.univ_id == u.c.univ_id).scalar_subquery()

s = select(u)
s = s.where(sq > 5)
s = s.order_by(u.c.rating)

print(s)
rezult = conn.execute(s).fetchall()
print(len(rezult))
rezult

SELECT u.univ_id, u.univ_name, u.rating, u.city
FROM university AS u
WHERE (SELECT count(lc.name) AS count_1
FROM lecturer AS lc
WHERE lc.univ_id = u.univ_id) > :param_1 ORDER BY u.rating
1

[(10, 'ВГУ', 296, 'Воронеж')]

In [46]:
# 9  Напишите запрос для получения списка отличников (студентов, получивших только отличные оценки),
# с последующей сортировкой по идентификаторам университетов и курсам.
st = student.alias('st')
em = exam_marks.alias('em')


sq = select(func.avg(em.c.mark))
sq = sq.where(em.c.student_id == st.c.student_id).scalar_subquery()

s = select(st)
s = s.where(sq == 5)
s = s.order_by(st.c.univ_id, st.c.kurs)

print(s)
rezult = conn.execute(s).fetchall()
print(len(rezult))
rezult

SELECT st.student_id, st.surname, st.name, st.stipend, st.kurs, st.city, st.birthday, st.univ_id
FROM student AS st
WHERE (SELECT avg(em.mark) AS avg_1
FROM exam_marks AS em
WHERE em.student_id = st.student_id) = :param_1 ORDER BY st.univ_id, st.kurs
7

[(99, 'Борисова', 'Марина', 150, 1, 'Рославль', datetime.datetime(1995, 8, 7, 0, 0), 10),
 (10, 'Кузнецов', 'Борис', 0, 2, 'Брянск', datetime.datetime(2001, 12, 8, 0, 0), 10),
 (88, 'Жданова', 'Ирина', 200, 3, 'Тверь', datetime.datetime(2002, 3, 2, 0, 0), 10),
 (55, 'Белкин', 'Вадим', 250, 5, 'Воронеж', datetime.datetime(2000, 1, 7, 0, 0), 10),
 (92, 'Мельникова', 'Светлана', 250, 4, 'Кропоткин (Краснод.)', datetime.datetime(1998, 3, 24, 0, 0), 15),
 (91, 'Блохина', 'Ираида', 250, 3, 'Новый Уренгой', datetime.datetime(1997, 3, 23, 0, 0), 22),
 (82, 'Лапина', 'Элеонора', 150, 3, 'Джубга', datetime.datetime(1997, 11, 23, 0, 0), 45)]

In [47]:
# 10  Напишите запрос для получения списка неуспевающих студентов (получивших хотя бы одну неудовлетворительную оценку),
# с последующей сортировкой по идентификаторам университетов и курсам.
st = student.alias('st')
em = exam_marks.alias('em')


sq = select(func.min(em.c.mark))
sq = sq.where(em.c.student_id == st.c.student_id).scalar_subquery()

s = select(st)
s = s.where(sq < 3)
s = s.order_by(st.c.univ_id, st.c.kurs)

print(s)
rezult = conn.execute(s).fetchall()
print(len(rezult))
rezult

SELECT st.student_id, st.surname, st.name, st.stipend, st.kurs, st.city, st.birthday, st.univ_id
FROM student AS st
WHERE (SELECT min(em.mark) AS min_1
FROM exam_marks AS em
WHERE em.student_id = st.student_id) < :param_1 ORDER BY st.univ_id, st.kurs
18

[(1, 'Иванов', 'Иван', 150, 1, 'Орел', datetime.datetime(2002, 12, 3, 0, 0), 10),
 (12, 'Зайцева', 'Ольга', 250, 2, 'Липецк', datetime.datetime(2001, 5, 1, 0, 0), 10),
 (116, 'Федоров', 'Гостомысл', 100, 4, 'Новый Уренгой', datetime.datetime(2000, 11, 16, 0, 0), 10),
 (65, 'Сергеева', 'Фёкла', 100, 5, None, datetime.datetime(2000, 2, 19, 0, 0), 10),
 (76, 'Мельникова', 'Дарья', 100, 5, 'Архангельск', datetime.datetime(2002, 8, 1, 0, 0), 10),
 (123, 'Веселов', 'Тимур', 150, 1, 'Невинномысск', datetime.datetime(1998, 4, 28, 0, 0), 11),
 (126, 'Жуков', 'Пров', 0, 3, 'Кыштым', datetime.datetime(1998, 9, 11, 0, 0), 11),
 (103, 'Трофимов', 'Владислав', 250, 5, 'Верхоянск', datetime.datetime(1995, 3, 24, 0, 0), 11),
 (110, 'Суханов', 'Константин', 250, 3, 'Курск', datetime.datetime(1996, 11, 22, 0, 0), 14),
 (149, 'Вячеслав', 'Пахомов', 250, 3, 'Игарка', datetime.datetime(1997, 5, 14, 0, 0), 14),
 (15, 'Ордуханян', 'Рафаэль', 120, 1, 'Липецк', datetime.datetime(2003, 6, 1, 0, 0), 18),
 (77, 'Мишина', 'Светлана', 150, 2, 'Рыльск', datetime.datetime(1997, 5, 22, 0, 0), 18),
 (79, 'Афанасьева', 'Анжелика', 0, 2, 'Уфа', datetime.datetime(1996, 11, 22, 0, 0), 32),
 (85, 'Казакова', 'Мария', 150, 4, 'Нальчик', datetime.datetime(1994, 2, 18, 0, 0), 32),
 (73, 'Одинцова', 'Лидия', 100, 5, 'Верхний Баскунчак', datetime.datetime(2002, 3, 7, 0, 0), 44),
 (97, 'Вишнякова', 'Анжела', 200, 2, 'Иваново', datetime.datetime(2002, 2, 10, 0, 0), 46),
 (101, 'Калашников', 'Евгений', 200, 2, 'Калининград', datetime.datetime(1998, 2, 27, 0, 0), 48),
 (83, 'Сорокина', 'Ирина', 200, 3, 'Усмань', datetime.datetime(1993, 9, 28, 0, 0), 48)]

In [ ]:
# 10  Напишите запрос для получения списка неуспевающих студентов (получивших хотя бы одну неудовлетворительную оценку),
# с последующей сортировкой по идентификаторам университетов и курсам.
st = student.alias('st')
em = exam_marks.alias('em')


sq = select(func.min(em.c.mark))
sq = sq.where(em.c.student_id == st.c.student_id).scalar_subquery()

s = select(st)
s = s.where(sq < 3)
s = s.order_by(st.c.univ_id, st.c.kurs)

print(s)
rezult = conn.execute(s).fetchall()
print(len(rezult))
rezult

<p style="background-color:powderblue; font-size:125%; color: rebeccapurple;">Выполните задания</p>
<p>Выполните задания в Jupyter Notebook на тему "Связанные подзапросы в Having".</p>

1. Напишите команду SELECT, использующую связанные подзапросы и выполняющую вывод имен и идентификаторов студентов, у которых стипендия совпадает с максимальным значением стипендии для города, в котором живет студент.
6. Напишите запрос, который позволяет вывести имена и идентификаторы всех студентов, о которых точно известно, что они проживают в городе, где нет ни одного университета.
7. Напишите два запроса, которые позволяют вывести имена и идентификаторы всех студентов, о которых точно известно, что они проживают не в том городе, где расположен их университет: один запрос с использованием связанного подзапроса, а другой с использованием соединения.

<p style="background-color:powderblue; font-size:125%; color: rebeccapurple;">Выполните задания</p>
<p>Выполните задания в Jupyter Notebook на тему "Использование оператора EXISTS".</p>

1. Напишите запрос с EXISTS, позволяющий вывести данные обо всех студентах обучающихся в вузах, имеющих рейтинг выше 300.

2. Напишите предыдущий запрос, используя соединения.

3. Напишите запрос с EXISTS, выбирающий сведения о каждом студенте, для которого в городе его проживания имеется хотя бы один университет, в котором он не учится.

4. Напишите запрос, выбирающий из таблицы SUBJECT данные о названиях предметов обучения, экзамены по которым сданы более чем одним студентом.

5. Напишите запрос для получения списка городов проживания студентов, в которых есть хотя бы один университет.

In [1]:
#! pip install sqlalchemy

In [17]:
from sqlalchemy import MetaData, Table, create_engine, select, and_, or_, not_
from sqlalchemy.sql import func

In [2]:
engine = create_engine('sqlite:///../Data/Students.db')
metadata_obj = MetaData() # Объект-контейнер, содержит информацию о схеме данных
metadata_obj.reflect(bind=engine) # Отображение БД
# Вызов метода reflect() приводит к включению в объект metadata_obj словаря всех таблиц БД.
conn=engine.connect() # Соединение

In [3]:
# Таблицы в БД
metadata_obj.tables.keys()

dict_keys(['city', 'exam_marks', 'student', 'university', 'subject', 'lecturer', 'subj_lect'])

Создание объектов таблиц

In [6]:
exam_marks=Table("exam_marks", metadata_obj, autoload=True, autoload_with="engine")
lecturer=Table("lecturer", metadata_obj, autoload=True, autoload_with="engine")
student=Table("student", metadata_obj, autoload=True, autoload_with="engine")
subj_lect=Table("subj_lect", metadata_obj, autoload=True, autoload_with="engine")
subject=Table("subject", metadata_obj, autoload=True, autoload_with="engine")
university=Table("university", metadata_obj, autolad=True, autolad_with="engine")

# Решение

In [1]:
# Ваш код здесь

#1

# Домашнее задание