<img src="../Img/Python_SQL_PI.png" style="width:100%">


<p style="font-size:22px;text-align:center">Контрольная работа 1</p>

<a id = Home></a>

4 апреля 2022 года, пн<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (4 подгруппа) <br>

База данных "Студенты"

```
STUDENT
STUDENT_ID — числовой код, идентифицирующий студента (идентификатор студента),
SURNAME — фамилия студента,
NAME — имя студента,
STIPEND — стипендия, которую получает студент,
KURS — курс, на котором учится студент,
CITY — город, в котором живет студент,
BIRTHDAY — дата рождения студента,
UNIV_ID — идентификатор университета, в котором учится студент.

LECTURER
LECTURER_ID — идентификатор преподавателя,
SURNAME — фамилия преподавателя,
NAME — имя преподавателя,
CITY — город, в котором живет преподаватель,
UNIV_ID — идентификатор университета, в котором работает преподаватель

SUBJECT
SUBJ_ID — идентификатор предмета обучения,
SUBJ_NAME — наименование предмета обучения,
HOUR — количество часов, отводимых на изучение предмета,
SEMESTER — семестр, в котором изучается данный предмет.

UNIVERSITY
UNIV_ID — идентификатор университета,
UNIV_NAME — название университета,
RATING — рейтинг университета,
CITY — город, в котором расположен университет.

EXAM_MARKS
EXAM_ID — идентификатор экзамена,
STUDENT_ID — идентификатор студента,
SUBJ_ID — идентификатор предмета обучения,
MARK — экзаменационная оценка,
EXAM_DATE — дата экзамена.

SUBJ_LECT
LECTURER_ID — идентификатор преподавателя,
SUBJ_ID — идентификатор предмета обучения.
```

<img src="../Img/Students_Schema.png" style="width:79%">

In [2]:
from sqlalchemy import MetaData, Table, create_engine, select, and_, or_, not_, text
from sqlalchemy.sql import func, distinct, exists
import pandas as pd

In [3]:
engine = create_engine('sqlite+pysqlite:///../Data/Students.db')
conn = engine.connect()

In [4]:
metadata = MetaData() # Объект-контейнер, содержит информацию о схеме данных
metadata.reflect(bind=engine) # Отображение БД

In [5]:
# Таблицы в БД
metadata.tables.keys()

dict_keys(['city', 'exam_marks', 'student', 'university', 'subject', 'lecturer', 'subj_lect'])

In [6]:
exam_marks=Table("exam_marks", metadata, autoload=True, autoload_with="engine")
lecturer=Table("lecturer", metadata, autoload=True, autoload_with="engine")
student=Table("student", metadata, autoload=True, autoload_with="engine")
subj_lect=Table("subj_lect", metadata, autoload=True, autoload_with="engine")
subject=Table("subject", metadata, autoload=True, autoload_with="engine")
university=Table("university", metadata, autolad=True, autolad_with="engine")

<img src=../Img/pencil.png style="width:190px;height:190px">
<p style="background-color:powderblue; font-size:125%; color: rebeccapurple;">Выполните задания</p>
<p>Выполните задания c помощью Jupyter Notebook и библиотеки SQLAlchemy</p>

1. Напишите запрос для получения идентификаторов, имён, фамилий и городов студентов без определенного места жительства.
2. Напишите запрос для получения списка учебных заведений, названия которых состоят как минимум из трех слов.
3. Напишите запрос, выполняющий вывод количества экзаменов, сдававшихся (вне зависимости от оценки) студентами 12, 32, 55. Результат должен содержать идентификатор студента и количество сданных им экзаменов. Результат упорядочить по убыванию количества экзаменов.
4. Для каждого дня сдачи экзаменов, сдававшихся в мае, напишите запрос, выводящий максимальные оценки, полученные по каждому предмету.
5. Для каждого предмета напишите запрос, выводящий количество преподавателей, ведущих по нему занятия. Результат должен содержать название предмета и число преподавателей.
6. С помощью подзапроса напишите запрос, выполняющий вывод результатов экзаменов, сданных (оценка больше 2) по предметам первого семестра. Результат должен содержать идентификатор экзамена, идентификатор предмета, дату в формате YYYY-MM-DD.
7. Отредактируйте следующий запрос с подзапросом, чтобы найти всех студентов, имеющих только отличные оценки. Выполните данный запрос с помощью SQLAlchemy.
```
s = """
SELECT DISTINCT student_id, surname, name
FROM student st
WHERE 4 < (
    SELECT min(mark) FROM exam_marks em WHERE ...
)
"""
```
8. Напишите запрос, выполняющий вывод идентификаторов, фамилий, имён студентов, средняя оценка которых превышает 3 балла на экзаменах по предметам 3 семестра.
9. Напишите запрос, выполняющий вывод списка идентификаторов, фамилий, имён, городов студентов, имеющих только отличные оценки и проживающих в городе, не совпадающим с городом их университета.
10. Покажите ИД экзамена, ИД студента, ИД предмета, оценку, дату для всех экзаменов, сдававшихся студентами ВГУ.
11. Напишите запрос, показывающий, сколько круглых отличников в каждом университете.
12. Напишите запрос, который выполняет выборку идентификаторов, имен и фамилий всех студентов, имеющих по предмету c идентификатором 10 балл ниже общего среднего балла.
13. С помощью EXISTS Напишите запрос, выполняющий вывод количества студентов, имеющих хотя бы одну неудовлетворительную оценку и проживающих в городе, не совпадающем с городом их университета.
14. С помощью EXISTS Напишите запрос, выполняющий вывод количества студентов, не имеющих ни одной оценки.
15.  Напишите запрос, показывающий дату первого экзамена в 2020 году, дату последнего экзамена в 2020 году, количество дней между первым и последним экзаменом в 2020 году. Подсказка: для установки фильтра на 2020 год можно использовать оператор LIKE, например `.where(func.date(exam_marks.c.exam_date).like("2020-%"))`

<p style="font-size:22px;text-align:center">Ответы на задания</p>

<TABLE>
    <tr><th style="text-align:center">Задание</th>
        <th style="text-align:center">Число строк</th><th style="text-align:center">Ответ</th>
    <tr><td>1</td><td>2</td><td>[(65, 'Сергеева Фёкла', None), (96, 'Тимофеева Фаина', None)]</td></tr>
    <tr><td>2</td><td>1</td><td>[(45, 'МГТУ им. Баумана', 372, 'Москва')]</td></tr>
    <tr><td>3</td><td>3</td><td>[(55, 2), (12, 2), (32, 1)]</td></tr>
    <tr><td>4</td><td>14</td><td></td></tr>
    <tr><td>5</td><td>10</td><td></td></tr>
    <tr><td>6</td><td>10</td><td></td></tr>
    <tr><td>7</td><td>7</td><td></td></tr>
    <tr><td>8</td><td>2</td><td>[(62, 'Семенова Вероника', 4.0), (99, 'Борисова Марина', 5.0)]</td></tr>
    <tr><td>9</td><td>6</td><td></td></tr>
    <tr><td>10</td><td>14</td><td></td></tr>
    <tr><td>11</td><td>4</td><td>[('ВГУ', 4), ('МГТУ им. Баумана', 1), ('МГУ', 1), ('ТГУ', 1)]</td></tr>
    <tr><td>12</td><td>3</td><td>[(12, 'Зайцева Ольга'), (15, 'Ордуханян Рафаэль'), (97, 'Вишнякова Анжела')]</td></tr>
    <tr><td>13</td><td>1</td><td>(17,)</td></tr>
    <tr><td>14</td><td>1</td><td>(54,)</td></tr>
    <tr><td>15</td><td>1</td><td>297</td></tr>
</TABLE>

In [10]:
# 1
st = student.alias('st')
s = select(st.c.student_id, st.c.surname + ' ' + st.c.name, st.c.city)
s = s.where(st.c.city == None)
print(s, s.compile().params)
result = conn.execute(s).fetchall()
print(len(result))
result

SELECT st.student_id, st.surname || :surname_1 || st.name AS anon_1, st.city
FROM student AS st
WHERE st.city IS NULL {'surname_1': ' '}
2

[(65, 'Сергеева Фёкла', None), (96, 'Тимофеева Фаина', None)]

In [153]:
# 2
s = select(university)
s = s.where(university.c.univ_name.like("% % %"))
print(s)
result = conn.execute(s).fetchall()
print(len(result))
result

SELECT university.univ_id, university.univ_name, university.rating, university.city
FROM university
WHERE university.univ_name LIKE :univ_name_1
1

[(45, 'МГТУ им. Баумана', 372, 'Москва')]

In [154]:
# 3
em = exam_marks.alias('em')
s = select(em.c.student_id, func.count(em.c.exam_id))
s = s.where(em.c.student_id.in_([12,32,55]))
s = s.group_by(em.c.student_id)
#s = s.order_by(text("exam_count"))
s = s.order_by(func.count(em.c.exam_id).desc())
print(s)
result = conn.execute(s).fetchall()
print(len(result))
result

SELECT em.student_id, count(em.exam_id) AS count_1
FROM exam_marks AS em
WHERE em.student_id IN ([POSTCOMPILE_student_id_1]) GROUP BY em.student_id ORDER BY count(em.exam_id) DESC
3

[(55, 2), (12, 2), (32, 1)]

In [7]:
# 4 Для каждого дня сдачи экзаменов, сдававшихся в мае, напишите запрос, 
# выводящий максимальные оценки, полученные по каждому предмету.
em = exam_marks.alias('em')
s = select(func.date(em.c.exam_date), em.c.subj_id, func.max(em.c.mark))
s = s.where(func.date(em.c.exam_date).like("%-05-%"))
s = s.group_by(func.date(em.c.exam_date), em.c.subj_id)
print(s)
result = conn.execute(s).fetchall()
print(len(result))
result

SELECT date(em.exam_date) AS date_1, em.subj_id, max(em.mark) AS max_1
FROM exam_marks AS em
WHERE date(em.exam_date) LIKE :date_2 GROUP BY date(em.exam_date), em.subj_id
14

[('2006-05-12', 10, 2),
 ('2019-05-26', 94, 2),
 ('2019-05-29', 10, 5),
 ('2019-05-29', 11, 1),
 ('2019-05-29', 12, 5),
 ('2019-05-29', 13, 2),
 ('2019-05-29', 22, 4),
 ('2019-05-29', 56, 5),
 ('2019-05-30', 11, 4),
 ('2020-05-26', 10, 3),
 ('2020-05-26', 12, 1),
 ('2020-05-26', 56, 4),
 ('2020-05-26', 94, 5),
 ('2020-05-27', 56, 2)]

In [155]:
# 5
su = subject.alias('su')
sl = subj_lect.alias('sl')

s = select(su.c.subj_name, func.count(sl.c.lecturer_id).label("cnt_lecturer"))
s = s.where(su.c.subj_id == sl.c.subj_id)
s = s.group_by(su.c.subj_name)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result

SELECT su.subj_name, count(sl.lecturer_id) AS cnt_lecturer
FROM subject AS su, subj_lect AS sl
WHERE su.subj_id = sl.subj_id GROUP BY su.subj_name
10

[('Анализ данных', 1),
 ('Английский язык', 3),
 ('Информатика', 5),
 ('История', 3),
 ('Математика', 1),
 ('ОБЖ', 3),
 ('Программирование на языках Python и SQL', 5),
 ('Теория вероятностей и математическая статистика', 1),
 ('Физика', 1),
 ('Физкультура', 1)]

In [8]:
# 6 С помощью подзапроса напишите запрос, выполняющий вывод результатов экзаменов, сданных (оценка больше 2) 
# по предметам первого семестра. Результат должен содержать идентификатор экзамена, 
# идентификатор предмета, дату в формате YYYY-MM-DD.
su = subject.alias('su')
subq = select(su.c.subj_id)
subq = subq.where(su.c.subj_id == em.c.subj_id)
subq = subq.where(su.c.semester == 1).scalar_subquery()
s = select(em.c.exam_id, em.c.subj_id, func.date(em.c.exam_date))
s = s.where(em.c.subj_id == subq)
s = s.where(em.c.mark > 2)
print(s)
result = conn.execute(s).fetchall()
print(len(result))
result

SELECT em.exam_id, em.subj_id, date(em.exam_date) AS date_1
FROM exam_marks AS em
WHERE em.subj_id = (SELECT su.subj_id
FROM subject AS su
WHERE su.subj_id = em.subj_id AND su.semester = :semester_1) AND em.mark > :mark_1
10

[(5, 10, '2020-05-26'),
 (9, 22, '2020-02-22'),
 (16, 10, '2019-05-29'),
 (22, 10, '2020-05-26'),
 (23, 22, '2019-05-29'),
 (28, 12, '2019-05-29'),
 (34, 10, '2000-01-23'),
 (43, 22, '2000-01-18'),
 (75, 10, '2000-01-23'),
 (238, 10, '2006-06-17')]

In [156]:
# 7
em = exam_marks.alias('em')
st = student.alias('st')
subq = select(func.min(em.c.mark))
subq = subq.where(em.c.student_id == st.c.student_id).scalar_subquery()
s = select(st.c.student_id.distinct(), st.c.surname, st.c.name)
s = s.where(4 < subq)

print(s, s.compile().params)
result = conn.execute(s).fetchall()
print(len(result))
result

SELECT DISTINCT st.student_id, st.surname, st.name
FROM student AS st
WHERE (SELECT min(em.mark) AS min_1
FROM exam_marks AS em
WHERE em.student_id = st.student_id) > :param_1 {'param_1': 4}
7

[(10, 'Кузнецов', 'Борис'),
 (55, 'Белкин', 'Вадим'),
 (82, 'Лапина', 'Элеонора'),
 (88, 'Жданова', 'Ирина'),
 (91, 'Блохина', 'Ираида'),
 (92, 'Мельникова', 'Светлана'),
 (99, 'Борисова', 'Марина')]

In [19]:
# 8. Напишите запрос, выполняющий вывод идентификаторов, фамилий, имён студентов, 
# средняя оценка которых превышает 3 балла на экзаменах по предметам 3 семестра.

em = exam_marks.alias('em')
st = student.alias('st')
su = subject.alias('su')
s = select( st.c.student_id, st.c.surname + ' ' + st.c.name, func.avg(em.c.mark).label('average_mark'))
s = s.where(st.c.student_id == em.c.student_id)
s = s.where(em.c.subj_id == su.c.subj_id)
s = s.where(su.c.semester == 3)
s = s.group_by(st.c.student_id)
s = s.having(text("average_mark > 3"))

print(s, s.compile().params)
result = conn.execute(s).fetchall()
print(len(result))
print(result)

SELECT st.student_id, st.surname || :surname_1 || st.name AS anon_1, avg(em.mark) AS average_mark
FROM student AS st, exam_marks AS em, subject AS su
WHERE st.student_id = em.student_id AND em.subj_id = su.subj_id AND su.semester = :semester_1 GROUP BY st.student_id
HAVING average_mark > 3 {'surname_1': ' ', 'semester_1': 3}
2
[(62, 'Семенова Вероника', 4.0), (99, 'Борисова Марина', 5.0)]

In [72]:
# 9
# Студенты, сдававшие экзамен
subq1 = exists().where(and_(exam_marks.c.mark != None, exam_marks.c.student_id == student.c.student_id))

# Студенты, не имеющие оценок, кроме отличных
subq2 = ~exists().where(and_(exam_marks.c.mark < 5, exam_marks.c.student_id == student.c.student_id))

# Студенты проживают в городе, отличном от города университета
subq3 = select (university.c.city)
subq3 = subq3.where(university.c.univ_id == student.c.univ_id).scalar_subquery()

s = select(student.c.student_id, student.c.surname, student.c.name, student.c.city)
s = s.where(subq1).where(subq2).where(student.c.city != subq3)

print(s, s.compile().params)
result = conn.execute(s).fetchall()
print(len(result))
result

SELECT student.student_id, student.surname, student.name, student.city
FROM student
WHERE (EXISTS (SELECT *
FROM exam_marks
WHERE exam_marks.mark IS NOT NULL AND exam_marks.student_id = student.student_id)) AND NOT (EXISTS (SELECT *
FROM exam_marks
WHERE exam_marks.mark < :mark_1 AND exam_marks.student_id = student.student_id)) AND student.city != (SELECT university.city
FROM university
WHERE university.univ_id = student.univ_id) {'mark_1': 5}
6

[(10, 'Кузнецов', 'Борис', 'Брянск'),
 (82, 'Лапина', 'Элеонора', 'Джубга'),
 (88, 'Жданова', 'Ирина', 'Тверь'),
 (91, 'Блохина', 'Ираида', 'Новый Уренгой'),
 (92, 'Мельникова', 'Светлана', 'Кропоткин (Краснод.)'),
 (99, 'Борисова', 'Марина', 'Рославль')]

In [67]:
#10
em = exam_marks.alias('em')
st = student.alias('st')
univ = university.alias('univ')
subq = select(univ.c.univ_id).where(univ.c.univ_name == 'ВГУ').scalar_subquery()
s = select(em.c.exam_id, em.c.student_id, em.c.subj_id, em.c.mark, func.date(em.c.exam_date))
s = s.where(em.c.student_id == st.c.student_id)
s = s.where( st.c.univ_id == subq )
print(s, s.compile().params)
result = conn.execute(s).fetchall()
print(len(result))
result

SELECT em.exam_id, em.student_id, em.subj_id, em.mark, date(em.exam_date) AS date_1
FROM exam_marks AS em, student AS st
WHERE em.student_id = st.student_id AND st.univ_id = (SELECT univ.univ_id
FROM university AS univ
WHERE univ.univ_name = :univ_name_1) {'univ_name_1': 'ВГУ'}
14

[(8, 116, 12, 1, '2020-05-26'),
 (11, 76, 56, 2, '2020-05-27'),
 (12, 88, 56, 5, '2019-09-02'),
 (13, 76, 12, 2, '2020-02-10'),
 (15, 62, 94, 4, '2021-06-02'),
 (17, 99, 94, 5, '2020-05-26'),
 (28, 10, 12, 5, '2019-05-29'),
 (29, 1, 43, 1, '2020-10-24'),
 (32, 65, 73, 1, '2020-02-21'),
 (75, 55, 10, 5, '2000-01-23'),
 (101, 654, 11, 4, '2019-05-30'),
 (145, 12, 10, 2, '2006-05-12'),
 (238, 12, 10, 5, '2006-06-17'),
 (639, 55, 10, None, '2019-05-29')]

In [11]:
# 11
univ = university.alias('univ')
em = exam_marks.alias('em')
st = student.alias('st')
subq = select (func.min(em.c.mark))
subq = subq.where(em.c.student_id == st.c.student_id).scalar_subquery()
s = select (univ.c.univ_name, func.count(st.c.student_id))
s = s.where (univ.c.univ_id == st.c.univ_id)
s = s.where(5 == subq)
s = s.group_by(univ.c.univ_name)
print(s, s.compile().params)
result = conn.execute(s).fetchall()
print(len(result))
result

SELECT univ.univ_name, count(st.student_id) AS count_1
FROM university AS univ, student AS st
WHERE univ.univ_id = st.univ_id AND (SELECT min(em.mark) AS min_1
FROM exam_marks AS em
WHERE em.student_id = st.student_id) = :param_1 GROUP BY univ.univ_name {'param_1': 5}
4

[('ВГУ', 4), ('МГТУ им. Баумана', 1), ('МГУ', 1), ('ТГУ', 1)]

In [22]:
# 12
st = student.alias('st')
em = exam_marks.alias('em')
em2 = exam_marks.alias('em2')

subq = exists(em.c.exam_id, em.c.student_id)
subq = subq.where(em.c.mark < select(func.avg(em2.c.mark).label('avg_mark')).scalar_subquery())
subq = subq.where(em.c.student_id == st.c.student_id)
subq = subq.where(em.c.subj_id == 10)
s = select (st.c.student_id, st.c.surname + ' ' + st.c.name)
s = s.where(subq)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result

SELECT st.student_id, st.surname || :surname_1 || st.name AS anon_1
FROM student AS st
WHERE EXISTS (SELECT em.exam_id, em.student_id
FROM exam_marks AS em
WHERE em.mark < (SELECT avg(em2.mark) AS avg_mark
FROM exam_marks AS em2) AND em.student_id = st.student_id AND em.subj_id = :subj_id_1)
3

[(12, 'Зайцева Ольга'), (15, 'Ордуханян Рафаэль'), (97, 'Вишнякова Анжела')]

In [20]:
# 13
st = student.alias('st')
em = exam_marks.alias('em')
univ = university.alias('univ')
subq_1 = exists(em.c.exam_id).where(st.c.student_id == em.c.student_id)
subq_1 = subq_1.where(em.c.mark < 3)
subq_2 = exists(univ.c.univ_id).where(univ.c.univ_id == st.c.univ_id)
subq_2 = subq_2.where(st.c.city != univ.c.city)
s = select ( func.count(st.c.student_id) ).where(subq_1).where(subq_2)
print(s)
result = conn.execute(s).fetchone()
print(len(result))
result

SELECT count(st.student_id) AS count_1
FROM student AS st
WHERE (EXISTS (SELECT em.exam_id
FROM exam_marks AS em
WHERE st.student_id = em.student_id AND em.mark < :mark_1)) AND (EXISTS (SELECT univ.univ_id
FROM university AS univ
WHERE univ.univ_id = st.univ_id AND st.city != univ.city))
1

(17,)

In [14]:
# 14
st = student.alias('st')
em = exam_marks.alias('em')
subq = ~exists(em.c.mark).where(em.c.student_id == st.c.student_id)
s = select(func.count(st.c.student_id)).where(subq)
print(s)
result = conn.execute(s).fetchone()
print(len(result))
result

SELECT count(st.student_id) AS count_1
FROM student AS st
WHERE NOT (EXISTS (SELECT em.mark
FROM exam_marks AS em
WHERE em.student_id = st.student_id))
1

(54,)

In [16]:
# 15

em = exam_marks.alias('em')

s = select(func.min(func.date(em.c.exam_date)), func.max(func.date(em.c.exam_date)), 
           func.julianday(func.max(func.date(em.c.exam_date))) - func.julianday(func.min(func.date(em.c.exam_date))))
s = s.where(func.date(em.c.exam_date).like("2020-%"))

print(s, s.compile().params)
result = conn.execute(s).fetchall()
print(len(result))
result

SELECT min(date(em.exam_date)) AS min_1, max(date(em.exam_date)) AS max_1, julianday(max(date(em.exam_date))) - julianday(min(date(em.exam_date))) AS anon_1
FROM exam_marks AS em
WHERE date(em.exam_date) LIKE :date_1 {'date_1': '2020-%'}
1

[('2020-02-10', '2020-12-03', 297.0)]